{% if template contains 'account' or template contains 'addresses' or template contains 'order' %}

  {% assign is_account = false %}
  {% assign is_orders = false %}
  {% assign is_addresses = false %}

  {% if template.name == 'account' and template.suffix == blank %}
    {% assign is_account = true %}
  {% endif %}

  {% if template.name == 'account' and template.suffix == 'orders' %}
    {% assign is_orders = true %}
  {% elsif template.name == 'order' %}
    {% assign is_orders = true %}
  {% endif %}

  {% if template.name == 'addresses' %}
    {% assign is_addresses = true %}
  {% endif %}

  {% capture page_sidebar_html %}
    {% comment %} Customer Account sidebar menu {% endcomment %}
    <h2 class="account-sidebar__title">{{ 'customer.account.title' | t }}</h2>
    <div class="d-block d-lg-none">
      <div class="form-group">
        <select class="form-control">
          <option value="/account" {% if is_account %}selected="selected"{% endif %}>{{ 'customer.account.account_details' | t }}</option>
          <option value="/account?view=orders" {% if is_orders %}selected="selected"{% endif %}>{{ 'customer.orders.title' | t }}</option>
          <option value="/account/addresses" {% if is_addresses %}selected="selected"{% endif %}>{{ 'customer.account.addresses' | t }}</option>
          <option value="/account/logout">{{ 'layout.customer.logout' | t }}</option>
        </select>
      </div>
    </div>    
    <div class="d-none d-lg-block">
      <ul class="account-sidebar__menu">
        <li>
          <a href="/account" class="account-sidebar__menu-link{% if is_account %} is-active{% endif %}">{{ 'customer.account.account_details' | t }}</a>
        </li>
        <li>
          <a href="/account?view=orders" class="account-sidebar__menu-link{% if is_orders %} is-active{% endif %}">{{ 'customer.orders.title' | t }}</a>
        </li>
        <li>
          <a href="/account/addresses" class="account-sidebar__menu-link{% if is_addresses %} is-active{% endif %}">
            {{ 'customer.account.addresses' | t }}
          </a>
        </li>
        <li>
          <a href="/account/logout" class="account-sidebar__menu-link">{{ 'layout.customer.logout' | t }}</a>
        </li>
      </ul>
    </div>
  {% endcapture %}

{% endif %}

{% assign page_sidebar_html = page_sidebar_html | strip %}
{% if page_sidebar_html != blank %}
  <div class="account-sidebar" data-account-sidebar>
    <div class="account-sidebar__content">
      {{ page_sidebar_html }}
    </div>
  </div>
{% endif %}
