{%- comment %}

  Aplos Block
  ------------------------------------------------------------------------------

  Usage:

  {% include 'aplos-block',
              classes: { string } - optional
              attributes: { string } - optional
              content: { string }
              bg_color: { string } - optional
              bg_image: { image } - optional
              bg_video_file_url: { string } - optional
  %}

{% endcomment -%}

{% assign light_text = true %}
{% if bg_color == 'butter' or bg_color == 'butter-dark' %}
  {% assign light_text = false %}
{% endif %}

{% if bg_image != blank or bg_video_file_url != blank %}
  {% assign light_text = true %}
{% endif %}

<div class="aplos-block{% if light_text %} aplos-block--light{% endif %}{% if classes %} {{ classes }}{% endif %}" {{ attributes }}>
  <div class="aplos-block__content">
    {{ content }}
  </div>
  <div class="aplos-block__bg{% if bg_color != blank %} bg-{{ bg_color }}{% endif %}">
    {% if bg_image %}
      <img data-src="{{ bg_image | img_url: '1500x'}}" /> 
    {% endif %}
    {% if bg_video_file_url != blank %}
      {% render 'ambient-video', url: bg_video_file_url %}
    {% endif %}
  </div>
</div>