{%- comment %}

  Article Card
  ------------------------------------------------------------------------------

  Usage:

  {% include 'article-card',
              article: { article },
              show_excerpt: { boolean } - defaults to true
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if show_excerpt == blank %}
  {% assign show_excerpt = true %}
{% endif %}

{% assign img_size = '600x' %}

{% if article and article != blank %}
  
  {% comment %} Shopify doesn't have a way to access article.blog directly so we have to parse out the url {% endcomment %}
  {% assign blog_handle = article.url | replace: 'blogs/', '' | replace: '/', ' ' | split: ' ' | first %}

  <div class="article-card" data-handle="{{ article.handle }}">
    <div class="article-card__contents">
      {% if article.image %}
        <div class="article-card__gallery">
          <div class="article-card__gallery-image">
            <img src="{{ article | img_url: img_size }}" alt="{{ article.image.alt | escape }}"/>
          </div>
        </div>
      {% endif %}
      <div class="article-card__info">
        <h4 class="article-card__info-title">
          {{ article.title }}
        </h4>
        {% if show_excerpt and article.excerpt != blank %}
          <div class="article-card__info-bottom">
            <div class="p2">
              {{ article.excerpt }}
            </div>
          </div>
        {% endif %}

        <span class="article-tray__close d-md-none" data-close>
          {% include 'icon-close' %}
        </span>        
      </div>
    </div>

    <div class="article-tray">
      <div class="article-tray__inner">
        <span class="article-tray__close d-none d-md-block" data-close>
          {% include 'icon-close' %}
        </span>
        <div class="article-tray__contents">
          <div class="row">
            <div class="col-md-4">
              <div class="rte">        
                {% include 'recipe-content',
                            recipe: article.content
                            target: 'recipe'
                %}
              </div>       
            </div>
            <div class="col-md-4 col-xl-3">
              {% include 'recipe-content',
                          recipe: article.content
                          target: 'ingredients'
              %}               
            </div>
            <div class="col-md-3 offset-xl-1">
              {% include 'recipe-content',
                          recipe: article.content
                          target: 'instructions'
              %}               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
