{%- comment %}

  Customer New Address Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-new-address-form' %}

{% endcomment -%}

{% form 'customer_address', customer.new_address %}

  <h5>{{ 'customer.addresses.add_new' | t }}</h5>

  <div class="form-group row">
    <label for="AddressFirstNameNew" class="col-3">
      {{ 'customer.addresses.first_name' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[first_name]"
        id="AddressFirstNameNew"
        class="form-control"
        value="{{ form.first_name }}"
        autocapitalize="words">
    </div>
  </div>                      
  <div class="form-group row">
    <label for="AddressLastNameNew" class="col-3">
      {{ 'customer.addresses.last_name' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[last_name]"
        id="AddressLastNameNew"
        class="form-control"
        value="{{ form.last_name }}"
        autocapitalize="words">
    </div>
  </div>                      


  <div class="form-group row">
    <label for="AddressAddress1New" class="col-3">
      {{ 'customer.addresses.address1' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[address1]"
        id="AddressAddress1New"
        class="form-control"
        value="{{ form.address1 }}"
        autocapitalize="words">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressAddress2New" class="col-3">
      {{ 'customer.addresses.address2' | t }}
    </label>
    <div class="col-9">
      <input type="text"
        name="address[address2]"
        id="AddressAddress2New"
        class="form-control"
        value="{{ form.address2 }}"
        autocapitalize="words">
    </div>
  </div>      

  <div class="form-group row">
    <label for="AddressCityNew" class="col-3">
      {{ 'customer.addresses.city' | t }}
    </label>
    <div class="col-9">
      <input type="text"
        name="address[city]"
        id="AddressCityNew"
        class="form-control"
        value="{{ form.city }}"
        autocapitalize="words">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressProvinceNew" class="col-3">
      {{ 'customer.addresses.state' | t }}
    </label>
    <div class="col-9">
      <input type="text"
        name="address[province]"
        id="AddressProvinceNew"
        class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressCountryNew" class="col-3">
      {{ 'customer.addresses.country' | t }}
    </label>
    <div class="col-9">
      <select
        name="address[country]"
        id="AddressCountryNew"
        class="form-control"
        data-default="{{ form.country }}">
        {{ country_option_tags }}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressZipNew" class="col-3">
      {{ 'customer.addresses.zip' | t }}
    </label>
    <div class="col-9">
      <input type="text"
        name="address[zip]"
        id="AddressZipNew"
        class="form-control"
        value="{{ form.zip }}"
        autocapitalize="characters">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressPhoneNew" class="col-3">
      {{ 'customer.addresses.phone' | t }}
    </label>
    <div class="col-9">
      <input type="tel"
        name="address[phone]"
        id="AddressPhoneNew"
        class="form-control"
        value="{{ form.phone }}"
        pattern="[0-9\-]*">
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      {% comment %}{{ form.set_as_default_checkbox }}{% endcomment %}
      <input type="checkbox" name="address[default]" value="1" class="custom-control-input" id="address_default_address_new" />
      <label class="custom-control-label" for="address_default_address_new">
        {{ 'customer.addresses.set_default' | t }}
      </label>
    </div>
  </div>

  <div class="form-group text-right">
    <input type="submit" class="btn btn-primary-reverse" value="{{ 'customer.addresses.save_address' | t }}">
  </div>
  <div class="form-group text-right">
    <a href="#" class="p2" data-address-new-toggle>
      {{ 'customer.addresses.cancel' | t }}
    </a>
  </div>
{% endform %}
