{%- comment %}

  Customer Edit Address Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-edit-address-form',
              address: { Address } - required
  %}

{% endcomment -%}

{% form 'customer_address', address %}

  <h5>{{ 'customer.addresses.edit_address' | t }}</h5>


  <div class="form-group row">
    <label for="AddressFirstName_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.first_name' | t }}
    </label>
    <div class="col-9">
      <input type="text"
        name="address[first_name]"
        id="AddressFirstName_{{ form.id }}"
        placeholder="{{ 'customer.addresses.first_name' | t }}"
        class="form-control"
        value="{{ form.first_name }}"
        autocapitalize="words">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressLastName_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.last_name' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[last_name]"
        id="AddressLastName_{{ form.id }}"
        class="form-control"
        placeholder="{{ 'customer.addresses.last_name' | t }}"
        value="{{ form.last_name }}"
        autocapitalize="words">
    </div>
  </div>


  <div class="form-group row">
    <label for="AddressAddress1_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.address1' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[address1]"
        id="AddressAddress1_{{ form.id }}"
        class="form-control"
        value="{{ form.address1 }}"
        autocapitalize="words">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressAddress2_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.address2' | t }}
    </label>
      
    <div class="col-9">
      <input type="text"
        name="address[address2]"
        id="AddressAddress2_{{ form.id }}"
        class="form-control"
        value="{{ form.address2 }}"
        autocapitalize="words">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressCity_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.city' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[city]"
        id="AddressCity_{{ form.id }}"
        placeholder="{{ 'customer.addresses.city' | t }}"
        value="{{ form.city }}"
        class="form-control"
        autocapitalize="words">
    </div>
  </div>

  <div class="form-group row">
    {% assign form_country_handle = form.country | handle %}
    {% assign state_label = 'customer.addresses.province' | t %}
    {% if form_country_handle contains 'united-states' or form_country_handle == 'us' or form_country_handle == 'usa' %}
      {% assign state_label = 'customer.addresses.state' | t %}
    {% endif %}

    <label for="AddressProvince_{{ form.id }}" class="col-3">
      {{ state_label }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[province]"
        id="AddressProvince_{{ form.id }}"
        class="form-control"
        placeholder="{{ state_label }}"
        value="{{ form.province }}">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressCountry_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.country' | t }}
    </label>

    <div class="col-9">
      <select
        name="address[country]"
        id="AddressCountry_{{ form.id }}"
        class="form-control"
        data-form-id="{{ form.id }}"
        data-default="{{ form.country }}">
        {{ country_option_tags }}
      </select>
    </div>
  </div>


  <div class="form-group row">
    <label for="AddressZip_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.zip' | t }}
    </label>

    <div class="col-9">
      <input type="text"
        name="address[zip]"
        id="AddressZip_{{ form.id }}"
        class="form-control"
        placeholder="{{ 'customer.addresses.zip' | t }}"
        value="{{ form.zip }}"
        autocapitalize="characters">
    </div>
  </div>

  <div class="form-group row">
    <label for="AddressPhone_{{ form.id }}" class="col-3">
      {{ 'customer.addresses.phone' | t }}
    </label>

    <div class="col-9">
      <input type="tel"
        name="address[phone]"
        id="AddressPhone_{{ form.id }}"
        class="form-control"
        placeholder="{{ 'customer.addresses.phone' | t }}"
        value="{{ form.phone }}"
        pattern="[0-9\-]*">
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      {% comment %}{{ form.set_as_default_checkbox }}{% endcomment %}
      <input type="checkbox" name="address[default]" value="1" class="custom-control-input" id="address_default_address_{{ form.id }}" />
      <label class="custom-control-label" for="address_default_address_{{ form.id }}">
        {{ 'customer.addresses.set_default' | t }}
      </label>
    </div>
  </div>

  <div class="form-group text-right">
    <input type="submit" class="btn btn-primary" value="{{ 'customer.addresses.update' | t }}">
  </div>
  <div class="form-group text-right">
    <a href="#" class="p2" data-address-edit-toggle data-form-id="{{ form.id }}">
      {{ 'customer.addresses.cancel' | t }}
    </a>
  </div>  

{% endform %}
