{%- comment %}

  Customer Register Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-register-form',
              marketing_checkbox_label: { string }
              terms_checkbox_label: { string }
  %}

{% endcomment -%}

{% form 'create_customer' %}
  {{ form.errors | default_errors }}

  <div class="form-group row">
    <label for="FirstName" class="col-2">
      {{ 'customer.register.first_name' | t }}
    </label>
    <div class="col-10">
      <input type="text"
        name="customer[first_name]"
        id="FirstName"
        class="form-control"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        required>
    </div>
  </div>

  <div class="form-group row">
    <label for="LastName" class="col-2">
      {{ 'customer.register.last_name' | t }}
    </label>
    <div class="col-10">
      <input type="text"
        name="customer[last_name]"
        id="LastName"
        class="form-control"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
    </div>
  </div>

  <div class="form-group row">
    <label for="Email" class="col-2">
      {{ 'customer.register.email' | t }}
    </label>
    <div class="col-10">
      <input type="email"
        name="customer[email]"
        id="Email"
        class="form-control {% if form.errors contains 'email' %}is-invalid{% endif %}"
        value="{% if form.email %}{{ form.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off">
    </div>
  </div>

  <div class="form-group row">
    <label for="CreatePassword" class="col-2">
      {{ 'customer.register.password' | t }}
    </label>
    <div class="col-10">
      <input type="password"
        name="customer[password]"
        id="CreatePassword"
        class="form-control {% if form.errors contains 'password' %}is-invalid{% endif %}"
        data-password-field>
    </div>
  </div>

  <div class="form-group row">
    <label for="ConfirmPassword" class="col-2">
      {{ 'customer.register.confirm' | t }}
    </label>
    <div class="col-10">
      <input type="password"
        id="ConfirmPassword"
        class="form-control"
        data-password-confirm-field>
    </div>
  </div>  

  <div class="form-group row">
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" type="checkbox" name="customer[accepts_marketing]" value="true" id="AcceptsMarketing">
      <label class="custom-control-label" for="AcceptsMarketing">
        {% if marketing_checkbox_label != blank %}
          {{ marketing_checkbox_label }}
        {% else %}
          Subscribe to our Newsletter
        {% endif %}
      </label>
    </div>   
  </div>
  
  <div class="form-group text-right">
    <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-primary-reverse">
  </div>
{% endform %}  
