{%- comment %}

  Story Popup
  ------------------------------------------------------------------------------

  Usage:

  {% render 'story-popup',
             product: { product } - required
             block: { block } - optional
  %}

{% endcomment -%}
{% if product %}

  {%- capture expandable_details_html -%}
    {% if block %}
      {% for i in (1..3) %}
        {% assign detail_title_handle = 'detail_title_' | append: i %}
        {% assign detail_content_handle = 'detail_content_' | append: i %}
        {% assign detail_title = block.settings[detail_title_handle] %}
        {% assign detail_content = block.settings[detail_content_handle] %}
        {% assign expandable_id = 'story-expand-' | append: block.id | append: '-' | append: i %}

        {% if detail_title != blank or detail_content != blank %}
          <div class="expandable-list">
            <a href="#"
               class="expandable-list__header"
               data-toggle="collapse"
               data-target="#{{ expandable_id }}"
               aria-expanded="false"
               aria-controls="{{ expandable_id }}"
            >
              <span class="d-inline-block" style="margin-right: 15px">
                {{ i | prepend: '0' | append: '.' }}
              </span>
              {{ detail_title }}
            </a>
            <div id="{{ expandable_id }}" class="collapse" style="padding-left: 35px;">
              <div class="expandable-list__body">
                {{ detail_content }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {%- endcapture -%}


  <div class="story-popup" data-story-popup>
    <div class="story-popup__contents drawer-shifter">
      <div class="story-cards__container swiper-container" data-story-popup-swiper>
        <div class="swiper-wrapper">
          <!-- Card 1 -->
          <div class="swiper-slide">
            <div class="story-card">
              <div class="story-card__inner">
                <div class="story-card__header">
                  <img src="{{ 'test-story-1.png' | asset_url }}" /> 
                </div>        
                <div class="story-card__body">
                  <div class="story-card__body-scroller">
                    <div class="story-card__body-contents">
                      <div class="story-card__title">
                        <h2>{{ product.title }}</h2>
                        {% if block.settings.subtitle_mobile %}
                          <span class="p2">{{ block.settings.subtitle_mobile }}</span>
                        {% endif %}
                      </div>
                      <div class="story-card__details">
                        <div>
                          {{ product.description }}
                        </div>
                        
                        {{ expandable_details_html }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <a href="#" class="story-popup-trigger" data-story-popup-close>
                {% render 'icon-caret-down' %}
              </a>
            </div>            
          </div>
          <!-- Card 2 -->
          <div class="swiper-slide">
            <div class="story-card">
              <div class="story-card__inner">
                <div class="story-card__header">
                  <img src="{{ 'test-story-2.jpg' | asset_url }}" />
                </div>
                <div class="story-card__body">
                  <div class="story-card__body-scroller">
                    <div class="story-card__body-contents">
                      <div class="story-card__title">
                        <h2>Our Hemp</h2>
                      </div>
                      <div class="story-card__details">
                        <!-- Product description first -->
                        <div>
                          <p>To ensure the purity and potency of the broad-spectrum hemp we use in every bottle of Aplós, we have developed rigorous testing protocols at essential stages throughout the production process. Our nano-emulsification    technology converts the hemp extract oil into smaller, water-soluble particles to allow your body to absorb the active cannabinoids faster.</p>
                          <a href="#" class="btn btn-tertiary" style="margin-top: 30px;">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
              </div>

              <a href="#" class="story-popup-trigger" data-story-popup-close>
                {% render 'icon-caret-down' %}
              </a>
            </div>          
          </div>
          <!-- Card 3 -->
          <div class="swiper-slide">
            <div class="story-card">
              <div class="story-card__inner">
                <div class="story-card__header">
                  <img src="{{ 'test-drink.jpg' | asset_url }}" /> 
                </div>
                <div class="story-card__body">
                  <div class="story-card__body-scroller">
                    <div class="story-card__body-contents">
                      <div class="story-card__title">
                        <h2>How To Enjoy</h2>
                      </div>
                      <div class="story-card__details">
                        <!-- Product description first -->
                        <div>
                          <p>We designed Wild Citrus to replicate the ritual of drinking a spirit. It can be enjoyed neat, on the rocks, or mixed as a cocktail.  We use exceptional ingredients formulated to enhance the immediate pleasure of taste, and the slow pleasures of the mind that follow.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="story-popup-trigger" data-story-popup-close>
                {% render 'icon-caret-down' %}
              </a>
            </div>
          </div>

          {% unless block.settings.reviews_enabled == false %}
            <div class="swiper-slide">
              <div class="story-card">
                <div class="story-card__inner">
                  <div class="story-card__body">
                    <div class="story-card__body-scroller">
                      <div class="story-card__body-contents">
                        <div class="story-card__title">
                          <h2>Feedback</h2>
                          <div class="p3 text-right">Stars<br />87 Reviews</div>
                        </div>
                        <div class="story-card__details">
                          <div style="border-bottom: 1px solid black; padding-bottom: 25px; margin-bottom: 25px;">
                            <p>Plants are delicate and unyielding, gentle and ruthless, unpredictable and methodical. In this respect, we have a great deal in common.</p>
                          </div>
                          <div style="border-bottom: 1px solid black; padding-bottom: 25px; margin-bottom: 25px;">
                            <p>Plants are delicate and unyielding, gentle and ruthless, unpredictable and methodical. In this respect, we have a great deal in common.</p>
                          </div>
                          <div>
                            <p>Plants are delicate and unyielding, gentle and ruthless, unpredictable and methodical. In this respect, we have a great deal in common.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <a href="#" class="story-popup-trigger" data-story-popup-close>
                  {% render 'icon-caret-down' %}
                </a>
              </div>         
            </div>
          {% endunless %}     
        </div>
      </div>
      <div class="story-cards-pagination" data-story-popup-pagination></div>        
    </div>
  </div>

{% endif %}