{%- comment %}
  Combines customer login + register forms into one template
{% endcomment -%}

{% capture page_title %}
  {% if section.settings.title != blank %}
    {{ section.settings.title }}
  {% else %}
    {{ 'customer.login.title' | t }}
  {% endif %}
{% endcapture %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-login">
  <div class="aplos-container drawer-shifter">
    <h1 class="page-title">{{ page_title }}</h1>

    <div class="form-success alert alert-success text-center hide" id="ResetSuccess">
      {{ 'customer.recover_password.success' | t }}
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-5">

        <div id="CustomerLoginForm">
          <h2 class="h3">{{ 'customer.login.login' | t }}</h2>
          
          <div style="margin-bottom: 25px;">
            {% if section.settings.login_subtitle != blank %}
              {{ section.settings.login_subtitle }}
            {% else %}
              <p>{{ 'customer.login.subtitle' | t }}</p>
            {% endif %}
          </div>

          {% form 'customer_login' %}

            {{ form.errors | default_errors }}

            <div class="form-group row{% if form.errors['email'] %} is-invalid{% endif %}">
              <label for="CustomerEmail" class="col-3 col-sm-2">
                {{ 'customer.login.email' | t }}
              </label>

              <div class="col-9 col-sm-10">
                <input type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  class="form-control"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
              </div>
            </div>

            {% if form.password_needed %}
              <div class="form-group row{% if form.errors['password'] %} is-invalid{% endif %}">
                <label for="CustomerPassword" class="col-3 col-sm-2">
                  {{ 'customer.login.password' | t }}
                </label>

                <div class="col-9 col-sm-10">
                  <input type="password"
                    name="customer[password]"
                    id="CustomerPassword"
                    class="form-control">
                </div>
              </div>
            {% endif %}

            <div class="form-group form-group--footer text-right">
              <input type="submit" class="btn btn-primary-reverse" value="{{ 'customer.login.sign_in' | t }}">
            </div>

            {% if form.password_needed %}
              <div class="form-text text-right">
                <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
              </div>
            {% endif %}
          {% endform %}
        </div>

        <div id="RecoverPasswordForm" class="hide">
          <h2 class="h3">{{ 'customer.recover_password.title' | t }}</h2>

          <div style="margin-bottom: 25px;">
            {% if section.settings.recover_subtitle != blank %}
              {{ section.settings.recover_subtitle }}
            {% else %}
              <p>{{ 'customer.recover_password.subtext' | t }}</p>
            {% endif %}
          </div>  

          {%- comment %} Recover Password Form {% endcomment -%}
          {% form 'recover_customer_password' %}
            {% if form.errors %}
              {% for field in form.errors %}
                 {% unless form.errors.messages[field] contains 'login' %}
                    {{ form.errors | default_errors }}
                 {% endunless %}
              {% endfor %}
            {% endif %}

            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <div class="form-group row">
              <label for="RecoverEmail" class="col-3 col-sm-2">
                {{ 'customer.recover_password.email' | t }}
              </label>
              <div class="col-9 col-sm-10">
                <input type="email"
                  name="email"
                  id="RecoverEmail"
                  class="form-control"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
              </div>
            </div>

            <div class="form-group form-group--footer text-right">
              <input type="submit" class="btn btn-primary-reverse" value="{{ 'customer.recover_password.submit' | t }}">
            </div>

            <div class="form-text text-right">
              <a href="#" id="HideRecoverPasswordLink">
                {{ 'customer.recover_password.back_to_login' | t }}
              </a>
            </div>
          {% endform %}

        </div>

      </div>

      <div class="col-md-6 col-xl-5 offset-xl-2">
        <h2 class="h3">{{ 'customer.register.title' | t }}</h2>
        <div style="margin-bottom: 25px;">
          {% if section.settings.register_subtitle != blank %}
            {{ section.settings.register_subtitle }}
          {% else %}
            <p>{{ 'customer.register.subtitle' | t }}</p>
          {% endif %}
        </div>

        {% include 'customer-register-form',
                    marketing_checkbox_label: section.settings.confirmation_marketing,
                    terms_checkbox_label: section.settings.confirmation_terms
        %}

        {% if shop.checkout.guest_login %}
          {% form 'guest_login' %}
            <input type="submit" class="btn btn-block" value="{{ 'customer.login.guest_title' | t }}">
          {% endform %}
        {% endif %}              

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Customers - Login",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Page Title",
        "info": "Leave blank for default title"
      },
      {
        "type": "header",
        "content": "Messaging"
      },
      {
        "id": "login_subtitle",
        "type": "richtext",
        "label": "Login Subtitle",
        "info": "Leave blank for default message"
      },
      {
        "id": "register_subtitle",
        "type": "richtext",
        "label": "Register Subtitle",
        "info": "Leave blank for default message"
      },
      {
        "id": "recover_subtitle",
        "type": "richtext",
        "label": "Recover Password Subtitle",
        "info": "Leave blank for default message"
      },
      {
        "type": "header",
        "content": "Confirmation Labels"
      },
      {
        "id": "confirmation_marketing",
        "type": "richtext",
        "label": "Accepts Marketing Label",
        "info": "Leave blank for default message"
      },
      {
        "id": "confirmation_terms",
        "type": "richtext",
        "label": "Accepts Terms and Conditions",
        "info": "Leave blank for default message.  Be sure to add links to any relevant information pages"
      }   
    ]
  }
{% endschema %}
