{% capture sidebar_html %}
  {% include 'account-sidebar' %}
{% endcapture %}

{% assign title = 'customer.addresses.title' | t %}

{% paginate customer.addresses by 20 %}

  <div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-addresses">
    <div class="aplos-container drawer-shifter">

      {% include 'page-header', ph_title: title %}

      <div class="row">
        {{ sidebar_html }}

        <div class="account-content{% if sidebar_html != blank %} account-content--has-sidebar{% endif %}">
          <h2 class="account-section__title">{{ 'customer.account.addresses' | t }}</h2>

          {% comment %} START - Hidden Address Forms! {% endcomment %}
          <div id="AddressNewForm" class="hide" data-address-new-form>
            <div class="row">
              <div class="col-md-10 col-xl-8">                
                {% include 'customer-new-address-form' %}
              </div>
            </div>
          </div>

          {% if customer.addresses.size > 0 %}
            {% for address in customer.addresses %}
              <div id="EditAddress_{{ address.id }}" class="hide" data-address-edit-form>
                <div class="row">
                  <div class="col-md-10 col-xl-8">                      
                    {% render 'customer-edit-address-form', address: address %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% comment %} END - Hidden Address Forms! {% endcomment %}

          <div data-address-main-content>
            <div class="row">
              <div class="col-md-6">
                {% if customer.addresses.size > 0 %}
                  {% for address in customer.addresses %}
                    <div class="account-block">
                      <div class="account-block__content">
                        {{ address | format_address | replace: '<p>', '<address>' | replace: '</p>', '</address>' }}

                        {% if address == customer.default_address %}
                          <p class="p2 text-gray">This is your default address</p>
                        {% endif %}

                        <div class="p2">
                          <a href="#" data-address-edit-toggle data-form-id="{{ address.id }}">
                            {{ 'customer.addresses.edit' | t }}
                          </a>
                          &middot;
                          <a href="#" data-address-delete data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                            {{ 'customer.addresses.delete' | t }}
                          </a>
                        </div>                      
                      </div>
                    </div>
                  {% endfor %}

                  <button type="button" class="btn btn-block btn-primary" data-address-new-toggle>{{ 'customer.addresses.add_new' | t }}</button>           
                {% else %}
                  <div class="account-block">
                    <div class="account-block__content">
                      <p>{{ 'customer.addresses.none' | t }}</p>
                    </div>         
                  </div>
                  <a href="/account/addresses#new" class="btn btn-block btn-primary" data-address-new-toggle>{{ 'customer.account.add_new_address' | t }}</a>                        
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>        

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
