<footer class="footer drawer-shifter" data-section-id="{{ section.id }}" data-section-type="footer">

  <div data-section-type="aplos-row" class="aplos-row-big-text bg-black text-white mp">
    <div class="">
      <p>Aplós is a recalibration — a chance to slow down and experience what we might usually ignore:  the simple things that ultimately add more substance to our lives.</p><br/><br/>
      <a class="btn btn-tertiary btn-light-outline " href="pages/natural-magic">Learn More
      </a>
    </div>

  </div>

  <div class="footer__upper">
    <div class="aplos-container">
      <div class="row">
        <div class="col-12 col-md-2 col-xl-2 svg-wrap">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="48px"  viewBox="0 0 96 183" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Design-IV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Product-Detail-Page-—-w-Subscription-Option" transform="translate(-1258.000000, -139.000000)">
                      <rect x="0" y="0" width="1440" height="1024"></rect>
                      <g id="Logo-—-Dandelion" transform="translate(1258.000000, 139.000000)" fill="#fff">
                          <path d="M95.8563197,27.873551 C95.50023,27.1624165 94.9181814,26.760329 94.1553656,26.6019968 C93.6283094,26.4926333 93.0990753,26.3919754 92.5687522,26.3016553 C92.0672865,26.2162321 91.561465,26.1580138 91.0594549,26.0731347 C90.0276662,25.8990237 88.994244,25.7298096 87.9450319,25.6971638 C87.8051007,25.6933551 87.6668029,25.6405777 87.5268716,25.6242548 C87.0782205,25.5725656 86.6284804,25.5306702 86.1798292,25.4768046 C85.506308,25.3962782 84.828431,25.3369717 84.1619881,25.2134617 C83.7416498,25.1351118 83.3305678,25.0622028 82.9009734,25.0894076 C81.8201815,25.1579638 80.7470124,25.0834226 79.6874552,24.8619752 C78.9311731,24.703643 78.1699907,24.6916729 77.4022745,24.7199659 C76.9786694,24.7352006 76.5534309,24.725951 76.1292814,24.7139808 C75.3359747,24.6916729 74.5437569,24.6579389 73.7515392,24.630734 C71.8839744,24.5665306 70.0153206,24.5055918 68.1466668,24.4359474 C67.9506542,24.4288741 67.756275,24.3733762 67.5597178,24.3461714 C65.1487624,24.0077432 62.7955218,23.3069465 60.3486308,23.1915979 C60.236468,23.1856129 60.1106932,23.1828924 60.0164983,23.1328355 C59.7948951,23.0147665 59.5732919,22.8869037 59.3810906,22.7274834 C59.2231916,22.5969001 59.2721947,22.3313809 59.450784,22.2144001 C59.7899948,21.9929527 60.1727639,21.9064413 60.5675116,21.8362528 C61.1522826,21.7323303 61.7337867,21.6055557 62.3093016,21.4591937 C63.2158601,21.2284966 64.1164292,20.9771239 65.0180873,20.7279276 C65.7275442,20.5309645 66.4331897,20.3182227 67.143191,20.1228919 C67.5526396,20.010808 67.968622,19.9242966 68.379704,19.8181977 C68.926906,19.6772766 69.4828196,19.5602958 70.0147761,19.3720383 C70.6077143,19.1614728 71.2153535,19.0515653 71.8311599,18.948731 C72.4170198,18.8513376 73.011047,18.7544884 73.5724054,18.5694955 C74.3047304,18.3279165 75.0474005,18.173393 75.807494,18.0716469 C76.1151249,18.0302955 76.4178555,17.948681 76.7227641,17.8871981 C78.3888715,17.5487699 80.0206767,17.0601709 81.7085632,16.813151 C82.5737412,16.6869205 83.4209514,16.4360919 84.2785067,16.251099 C84.5545578,16.1917924 84.8360537,16.144456 85.1164607,16.127589 C85.9108563,16.0797085 86.6992627,15.9893884 87.4675234,15.7799111 C88.2640969,15.5622724 89.0699266,15.4349537 89.8964466,15.4044843 C90.3271299,15.3881614 91.216265,15.1580085 91.8745408,14.8767104 C92.4026859,14.6514543 92.5899869,14.0899464 92.8360916,13.8130011 C92.9074185,13.7330189 92.99998,13.6535808 93.0544279,13.5572756 C93.2847428,13.1524676 93.4981788,12.6693096 93.265686,12.2693985 C92.9095964,11.6567454 92.4108531,11.1088399 91.5821553,11.1752198 C90.9053672,11.2290853 90.2258567,11.2894801 89.5577803,11.4075491 C88.2194496,11.6442312 86.9410116,12.148609 85.5852576,12.3194554 C85.4186468,12.3406751 85.2591143,12.41304 85.0963149,12.4620087 C83.604441,12.9081681 82.1131115,13.3554157 80.6201486,13.7983105 C80.4578937,13.8467351 80.2896495,13.8837337 80.1214054,13.8995125 C79.3520558,13.9724215 78.6273535,14.2074713 77.9021068,14.4621086 C77.3973742,14.638396 76.8741294,14.7744202 76.3492511,14.8826955 C75.5445103,15.048645 74.7326913,15.1743314 73.9960105,15.5764189 C73.8010868,15.6825178 73.569683,15.7309424 73.3513467,15.784808 C72.2792665,16.0508713 71.2077308,16.3223756 70.1312947,16.566131 C68.6399653,16.9040151 67.1437355,17.2206795 65.6491391,17.543873 C65.3453195,17.6102528 65.026799,17.6320167 64.734958,17.7321305 C62.9855452,18.3322693 61.1446599,18.5477316 59.3663897,19.0292573 C58.6297089,19.2294849 57.8674375,19.3078349 57.161792,18.8698369 C57.2842999,18.369812 57.2837554,18.3692679 57.5810413,18.0841611 C58.1973921,17.493272 58.8845253,16.9975998 59.6146724,16.5563373 C60.5353873,15.9997262 61.4457571,15.4278805 62.3604827,14.8636521 C63.6351093,14.0785204 64.9718066,13.3951348 66.1718395,12.4875813 C66.6624156,12.1170513 69.76486,10.0549244 70.8113497,9.37915617 C71.4772482,8.94986378 72.1491359,8.52982104 72.8297353,8.12446891 C73.4373745,7.76264453 74.0591701,7.42421631 74.6776989,7.08089122 C74.8502989,6.98458608 75.0425002,6.92255904 75.2091109,6.81754836 C76.3089596,6.12164853 77.3761395,5.3746036 78.5157352,4.74127491 C78.8859813,4.53506221 79.2464267,4.30164468 79.5823706,4.04319869 C80.0979927,3.64709621 80.5972805,3.22868576 81.0878566,2.80102566 C81.5403191,2.40601137 81.7047519,1.86082636 81.7853348,1.29115699 C81.8430497,0.884716672 81.5294295,0.238873751 81.1896742,0.159435616 C80.5597114,0.0119853788 79.9172255,-0.143626311 79.2954299,0.242682429 C78.959486,0.451615606 78.6110191,0.657284203 78.241862,0.79276431 C77.0309395,1.23620322 76.0819116,2.12090464 74.9553835,2.70689691 C74.5579134,2.9131096 74.2246919,3.24174408 73.8571682,3.50617513 C73.6970912,3.62097956 73.5337474,3.74993051 73.3513467,3.81413393 C72.7780098,4.01653795 72.318469,4.39522933 71.8284375,4.73202526 C71.2229762,5.14825932 70.6093478,5.55469965 69.9870076,5.94699345 C69.5067767,6.24896718 69.0303571,6.54713224 68.6013072,6.92473543 C68.2849646,7.2027689 67.9343198,7.46502357 67.5559065,7.6467519 C66.9123317,7.95634299 66.330283,8.35353367 65.7515013,8.76106218 C65.3578426,9.03855156 64.9750735,9.33562842 64.5618135,9.58210428 C62.7579528,10.6599601 61.1326813,11.9924532 59.4148484,13.1938189 C58.7429606,13.6628304 58.132599,14.2194414 57.4710564,14.7047758 C56.7637775,15.2243883 56.0287301,15.7059139 55.3072947,16.2059389 C54.8188966,16.5449112 54.3364877,16.8925891 53.8442782,17.2261205 C53.0008794,17.7990544 52.1493134,18.3600182 51.3080925,18.9356726 C51.1229694,19.0624472 50.9530918,19.2191471 50.7973707,19.3823761 C49.80424,20.4205129 48.5127345,20.8508934 47.155347,21.0500329 C46.2373545,21.1844248 45.2915935,21.1354561 44.3572666,21.1588522 C44.1607095,21.1637491 43.9619745,21.1278387 43.7659618,21.1033544 C42.3671939,20.9341403 41.0827667,20.4188806 39.8331861,19.7991543 C39.4531394,19.6103527 39.0834378,19.3889053 38.6870567,19.2452637 C37.7810427,18.9171734 36.8603278,18.6315225 36.0359858,18.1140865 C35.8949656,18.0253987 35.7196432,17.9911206 35.5590217,17.9361668 C34.6421181,17.6243993 33.7861963,17.1869455 32.9520536,16.6994347 C32.610665,16.5002953 32.2572978,16.3153024 31.8914075,16.1651317 C31.05182,15.8196302 30.2454458,15.419719 29.4679291,14.9447225 C28.7933189,14.5333853 28.072428,14.1922366 27.354804,13.8559848 C25.8689193,13.1584527 24.3568996,12.5131538 22.8819045,11.7905933 C21.9688123,11.3433457 21.1107126,10.7840141 20.2166772,10.2959593 C19.5714689,9.94338457 18.9197269,9.59733899 18.2478391,9.29917394 C17.0837419,8.78173786 15.9005878,8.30728544 14.7294123,7.80780456 C14.390746,7.66307481 14.0618804,7.4944048 13.7308368,7.33498443 C13.4754759,7.21201855 13.2277377,7.07272976 12.9663876,6.9644545 C11.9645452,6.55148501 11.0383855,6.03513713 10.2298334,5.29026859 C9.48498537,4.60416251 8.84195503,4.67271871 7.93321868,5.00625006 C7.58202937,5.135201 7.27004259,5.74404534 7.31686784,6.13851553 C7.36641547,6.55910237 7.44699845,6.97588053 7.51070255,7.39483508 C7.60163064,7.99715025 7.90163886,8.4335159 8.46190831,8.71046118 C9.29877337,9.12560705 10.1225709,9.56795776 10.9452795,10.0113967 C11.3427496,10.2257708 11.7227963,10.473879 12.1148216,10.6996791 C12.4322531,10.8824957 12.7496847,11.0685768 13.0780059,11.2312617 C13.6611435,11.5201771 14.2709606,11.7595797 14.8366748,12.0789646 C15.7802578,12.6116354 16.772844,13.014267 17.7970101,13.357048 C18.224971,13.5001455 18.6453092,13.6780651 19.0487685,13.8804691 C20.0108639,14.363083 20.9637031,14.8647403 21.9154533,15.3674857 C23.0681165,15.975786 24.2207797,16.5813657 25.4306133,17.0748615 C25.8999546,17.2658395 26.3360827,17.538432 26.7863673,17.7772905 C27.0362834,17.9100501 27.2698651,18.0830729 27.5317598,18.1820986 C28.4159946,18.516174 29.1651984,19.0885639 29.9830067,19.5385319 C30.6042579,19.881857 31.0823109,20.342707 30.9848491,21.2448195 C30.8432844,21.2927001 30.7131538,21.3748587 30.5846566,21.3732264 C30.0194868,21.3683295 29.4532281,21.3536389 28.8891473,21.3139198 C28.3822369,21.2785535 27.8780488,21.2045564 27.3727718,21.1528672 C27.1195888,21.1272946 26.8653168,21.1098835 26.6110449,21.0919283 C25.9614808,21.0473124 25.3124612,20.9825649 24.6618081,20.9667861 C23.8374661,20.9477427 23.0202023,20.9096559 22.2149171,20.7126929 C21.6072779,20.5636103 20.9882047,20.5124652 20.3604198,20.5048479 C19.8812778,20.4988628 19.3983244,20.4455413 18.9251717,20.3655591 C18.1133527,20.2273585 17.3031671,20.1158186 16.4755582,20.1267006 C15.9387014,20.1332297 15.3953108,20.1158186 14.8644433,20.0412774 C13.3213882,19.8263591 11.771255,19.6718356 10.2347337,19.3943463 C8.92199353,19.1576641 7.61633158,18.9139088 6.33353778,18.5477316 C6.09178886,18.4791754 5.83316108,18.4405445 5.58161153,18.4356477 C4.47686254,18.4138838 3.37211355,18.4024578 2.26736456,18.4024578 C1.54102885,18.4024578 0.957891259,18.7365332 0.495083648,19.2713804 C-0.0101933669,19.8562845 -0.063552362,20.9085677 0.0496993828,21.2888914 C0.162951128,21.6697591 0.703619313,22.2998233 1.24537646,22.4151718 C1.82524717,22.5386818 2.41110716,22.6632799 3.0007785,22.7095282 C4.78013765,22.8499051 6.56276367,22.9494749 8.34321177,23.0697203 C9.07880363,23.1192331 9.81276206,23.186157 10.5478094,23.2334934 C11.876884,23.3189166 13.2059586,23.4005311 14.5361221,23.4750724 C15.2423121,23.5147915 15.9501355,23.5496137 16.6579589,23.5637602 C18.3001092,23.596406 19.9422595,23.6149053 21.5844098,23.6410219 C21.7548319,23.6442865 21.924165,23.663874 22.0940426,23.6720354 C23.253784,23.7302538 24.4140699,23.7830312 25.5738114,23.8461464 C25.9407906,23.866278 26.3061364,23.916879 26.6731156,23.9457161 C27.2927333,23.995773 27.9128955,24.0610647 28.5336022,24.0806521 C29.0720924,24.0986073 29.6062269,24.0947987 30.1398168,24.2057944 C30.972326,24.3782731 31.8146359,24.4615199 32.6694688,24.4811074 C33.1981584,24.4936216 33.7235812,24.6628357 34.246826,24.776552 C34.3061743,24.7896103 34.3758677,24.8951651 34.3840348,24.9642654 C34.392202,25.0339098 34.3486437,25.1432732 34.2925623,25.1791836 C34.1520866,25.2678714 33.9979989,25.3598238 33.8379219,25.3886609 C32.9732884,25.5420962 32.1070214,25.6900905 31.2380321,25.8152328 C30.1174932,25.9768295 28.9866091,26.041033 27.8834936,26.3473595 C27.2350185,26.5279996 26.5440739,26.5954676 25.8678303,26.6286575 C25.1300605,26.665112 24.400458,26.7412856 23.6703109,26.8424876 C22.7446957,26.9708944 21.8250697,27.1373881 20.8814867,27.1205211 C20.5199523,27.1139919 20.1562399,27.232605 19.7930721,27.2908234 C18.9545736,27.4246712 18.1144416,27.5509016 17.2770321,27.6901904 C16.775022,27.7734372 16.2702894,27.8523313 15.7775354,27.9752972 C14.7321347,28.2364636 13.6927233,28.519394 12.6141093,28.6140668 C12.3897837,28.6336543 12.1665471,28.6864317 11.9471219,28.7408414 C10.8195047,29.0205071 9.69079864,29.295276 8.56808182,29.5923529 C7.35334796,29.9139141 6.11193461,30.0009696 4.86562094,30.059188 C3.94762843,30.1016275 3.09225107,30.3954398 2.24395194,30.7104718 C2.06427369,30.7773958 1.9041967,30.9150523 1.75609827,31.0434591 C1.5078156,31.2583773 1.38639666,31.5402195 1.39783073,31.8721186 C1.41035376,32.2388398 1.41144272,32.6071934 1.44411149,32.9722823 C1.50073736,33.6121402 1.7179847,33.8912618 2.34794753,34.0430648 C2.81402202,34.156237 3.29425298,34.2302342 3.77176153,34.2661445 C5.23477806,34.3749639 6.64606904,33.9957284 8.05137074,33.689946 C9.18279923,33.4434702 10.2946265,33.0979687 11.4347666,32.8661834 C11.84966,32.7818484 12.2514859,32.6327659 12.6642014,32.5348285 C13.5979838,32.312837 14.5034533,31.9537331 15.4873278,31.9640709 C15.7383329,31.9662473 15.9931493,31.8987793 16.2408875,31.8432814 C17.678858,31.5217202 19.1157395,31.2007031 20.5493542,30.8655394 C21.5430293,30.6332101 22.5307152,30.3785728 23.520579,30.1348174 C23.6861008,30.0945543 23.8510781,30.0548352 24.0176888,30.0205571 C25.6271704,29.6902903 27.2366519,29.3589354 28.8472224,29.0346537 C29.0960495,28.9845967 29.3524994,28.9388926 29.6051379,28.9443336 C30.7447336,28.9688179 31.863639,28.8404111 32.9814555,28.6200519 C33.4736651,28.5226586 33.9952765,28.5585689 34.5032759,28.5650981 C34.7428469,28.5683627 34.9274254,28.7125483 34.9992967,28.9612006 C35.0766128,29.2283521 35.005286,29.4557846 34.7504696,29.6179254 C34.3687894,29.8611367 33.9734973,30.0836723 33.5831054,30.3138253 C33.0712947,30.615799 32.5616618,30.9210373 32.0471287,31.2175701 C31.5325955,31.5141028 31.0322188,31.8460019 30.4904616,32.0832281 C29.9405373,32.324263 29.4221928,32.6001201 28.9354281,32.9467098 C26.7596878,34.499018 24.4037248,35.7384705 22.0145486,36.9202488 C21.3546394,37.247251 20.6669617,37.5405192 20.0625894,37.9518564 C18.7950411,38.8147939 17.4686889,39.5727208 16.148326,40.3475147 C15.6136471,40.6614585 15.0680786,40.9890048 14.6139827,41.4052389 C14.0150552,41.9531444 13.3322778,42.3579524 12.6151983,42.6746167 C11.2088076,43.2965194 9.91675765,44.1132087 8.61490706,44.9103106 C7.57277322,45.5474479 6.77837757,46.4985292 5.93552324,47.36854 C5.27615851,48.0481169 5.56092131,49.1651477 6.41575419,49.5879109 C6.6444356,49.7005389 6.88781796,49.7816094 7.12194416,49.8828114 C7.51015807,50.0503932 7.89347167,50.0291734 8.27896319,49.8724735 C8.77933989,49.6684372 9.25467053,49.4274023 9.67555321,49.0775481 C11.1124347,47.8827115 12.5803516,46.7248734 14.1332072,45.6845603 C14.978784,45.1181555 15.788425,44.5049584 16.6917166,44.0141831 C17.733306,43.4488665 18.6888676,42.7279382 19.6819982,42.0733898 C19.8703882,41.9487916 20.0555112,41.8176643 20.2428122,41.6914338 C21.1814949,41.0570169 22.1179997,40.4209677 23.0599493,39.7914477 C23.4835544,39.5090615 23.9120598,39.2326603 24.3503658,38.9736702 C25.2275224,38.4540577 26.1123016,37.9469595 26.9959919,37.4387731 C27.313968,37.2559565 27.6390223,37.084022 27.9608097,36.9077346 C28.5798829,36.5676741 29.2027675,36.2314222 29.8202073,35.8875531 C30.3635979,35.583947 30.8999103,35.2678268 31.4427564,34.9642208 C31.6894056,34.8260202 31.9594674,34.7242741 32.196316,34.571927 C33.3402676,33.8368522 34.4695181,33.0800135 35.61837,32.3531001 C36.070288,32.0674493 36.5418073,31.7986655 37.0356502,31.593541 C37.6149765,31.3535943 38.1725235,31.088075 38.6750781,30.7110159 C39.0845267,30.4041453 39.5260996,30.1582136 40.0085085,29.9726766 C40.3493527,29.8415492 40.688019,29.6701587 40.9776821,29.4503436 C42.0023926,28.6717411 43.2432615,28.435059 44.4231486,28.0536471 C44.9224364,27.8925944 45.3917778,28.2348313 45.4859727,28.7490028 C45.5818011,29.2767767 45.6890636,29.8034625 45.6525835,30.3497357 C45.6204592,30.8285409 45.5643778,31.3225808 45.6416939,31.7894158 C45.8387955,32.9690177 45.9248232,34.1480755 45.8600302,35.3407358 C45.850774,35.5099499 45.8649305,35.6807963 45.8736421,35.8505545 C45.9079444,36.5007502 45.9569475,37.1504018 45.9781822,37.8011416 C46.0304523,39.4133004 46.1676611,41.0200183 46.11648,42.6387064 C46.076733,43.912437 46.0832668,45.1861676 45.9482358,46.4544573 C45.864386,47.2455741 45.8366175,48.0345145 45.9073999,48.8294399 C45.9427911,49.2217337 45.9253677,49.6216449 45.8965103,50.015571 C45.7979595,51.3426231 45.6923305,52.6658666 45.7015866,54.0016243 C45.7108428,55.3868948 45.5954131,56.7732534 45.5404207,58.1596121 C45.5186415,58.6966357 45.4892396,59.2352915 45.5017626,59.7723151 C45.5175525,60.4513479 45.5807122,61.1287485 45.6084806,61.8077813 C45.6863412,63.7322517 45.7620238,65.6561781 45.6651065,67.5839131 C45.6318932,68.2596813 45.6847077,68.9452433 45.7685576,69.6172029 C45.8671084,70.4072315 45.9068554,71.1934514 45.8926989,71.9889209 C45.8703753,73.2343585 45.8355286,74.4830607 45.9003216,75.7252337 C45.9656592,76.9728477 45.9901608,78.2139326 45.8818093,79.4593702 C45.8012264,80.3919521 45.8251835,81.3223577 45.9732819,82.2538514 C46.1241027,83.2049327 46.1965185,84.1685281 46.1137576,85.1337559 C46.0435198,85.9553421 46.0745551,86.7720314 46.1442485,87.5930735 C46.2188422,88.466893 46.2422548,89.3461534 46.2743791,90.2232375 C46.3549621,92.3735081 46.3925312,94.5226906 46.7595104,96.6560942 C47.0039817,98.076731 47.1237672,99.5207639 47.2604315,100.958268 C47.3491817,101.886497 47.3900177,102.821255 47.4134303,103.753837 C47.4439212,104.969894 47.4047186,106.182685 47.5920196,107.396565 C47.7259616,108.258959 47.7651641,109.149101 47.7292284,110.021832 C47.6769584,111.334738 47.8136228,112.622615 47.9965679,113.913757 C48.100019,114.645023 48.1201647,115.375745 48.0444821,116.115173 C47.9938455,116.618462 47.9856783,117.135354 48.0368594,117.6381 C48.1653565,118.906389 48.3374121,120.168694 48.4931332,121.433719 C48.7147364,123.233591 48.8916923,125.03564 48.8835251,126.853467 C48.8818916,127.330096 48.9809869,127.808357 49.044691,128.284442 C49.1361636,128.95749 49.2461484,129.627817 49.3327207,130.301409 C49.5172992,131.732928 49.6958885,133.165535 49.8673996,134.598142 C49.9316482,135.131901 50.0525226,135.67763 49.9964412,136.202139 C49.9093245,137.037328 50.0307435,137.843135 50.1706747,138.648942 C50.61497,141.217079 51.3026477,143.731895 51.8678174,146.273915 C52.2543979,148.013393 52.71775,149.736003 53.1527892,151.464599 C53.3046989,152.06637 53.5203128,152.655083 53.6292088,153.263927 C53.8540788,154.525687 54.222147,155.731406 54.8150852,156.872921 C54.9953079,157.220599 55.5975023,159.346385 55.87192,159.994949 C55.9933389,160.281688 56.1610386,160.548295 56.2791907,160.836122 C56.4392677,161.227328 56.6086008,161.62071 56.7115074,162.029327 C57.1100665,163.598502 57.6589018,165.104562 58.3498464,166.574167 C59.0473247,168.057919 59.6320957,169.596081 60.235379,171.122817 C60.8729646,172.736064 61.6831501,174.254638 62.6120322,175.71717 C63.1483446,176.562153 63.6813901,177.412032 64.0178784,178.358216 C64.9238924,179.854482 65.7896149,181.0787 66.6052452,182.231097 C67.1176005,182.955834 67.5597178,183.095667 67.9299639,182.946585 C68.1826024,182.845383 68.4406857,182.690859 68.5131015,182.177232 C68.5506706,181.907904 68.3905936,181.378498 68.367181,181.002527 C68.3029324,180.316421 68.3121886,179.870261 68.2424952,179.255976 C68.1842359,178.743981 68.1335993,178.176488 68.0965747,177.685713 C68.0720731,177.35871 67.9119961,176.699265 67.8363135,175.886928 C67.7644422,175.107238 67.7769652,174.173568 67.7742428,173.828066 C67.7731538,173.696939 67.8052781,172.96132 67.8047336,172.829648 C67.767709,171.844833 67.7132611,171.424246 67.7116276,170.552603 C67.6805923,170.054755 67.7916661,169.20814 67.7116276,168.712468 C67.6070876,168.062272 67.6805923,167.745608 67.7355847,167.054061 C67.7666201,166.664487 67.756275,166.10298 67.7845879,165.707421 C67.8188901,165.228072 67.9032844,164.911952 67.9370422,164.432058 C67.9746113,163.892314 68.0149027,163.352026 68.0535608,162.812282 C67.9615437,162.314977 68.0758844,161.756734 67.6805923,161.195226 C67.4954693,160.932427 67.4426547,160.860063 67.1813046,160.540134 C66.9134206,160.213676 66.211042,159.738679 65.8369846,159.348018 C65.3507643,159.050397 64.9233479,158.674426 64.5280558,158.259824 C64.2155245,157.931734 63.8708689,157.633568 63.5637825,157.300037 C63.2006146,156.905023 62.843436,156.501847 62.5200152,156.074187 C62.0768089,155.487651 61.6885949,154.858675 61.2372214,154.278123 C60.955181,153.915755 60.7259551,153.532711 60.5381097,153.119197 C59.2678389,150.335598 57.9910344,147.555263 56.7311087,144.766767 C56.522573,144.305373 56.3521509,143.818406 56.2290986,143.327087 C56.0227408,142.504956 55.8784537,141.667047 55.6895193,140.84002 C55.3873332,139.515689 55.0002082,138.209312 54.9022019,136.844173 C54.886412,136.620005 54.8199855,136.399646 54.7818719,136.176022 C54.6098164,135.144415 54.3196088,134.126954 54.3136195,133.073582 C54.3059968,131.822704 54.2275918,130.584339 53.9085268,129.368827 C53.8802138,129.260552 53.8807583,129.144659 53.8666018,129.032031 C53.5731274,126.729413 53.2769305,124.42734 52.9878119,122.124178 C52.8217456,120.804743 52.6720137,119.483132 52.505403,118.163697 C52.4596667,117.799152 52.4455102,117.407403 52.2963228,117.084209 C51.9380553,116.309415 51.9173651,115.496535 51.8841518,114.675493 C51.83896,113.548124 51.8476717,112.416403 51.6249796,111.302092 C51.6032004,111.191641 51.6010225,111.076836 51.5830546,110.965296 C51.4877707,110.379848 51.3875865,109.795488 51.293936,109.210584 C51.1910294,108.570182 50.9394798,107.946647 51.0206073,107.286114 C51.1926628,105.888873 50.9569032,104.518837 50.7913814,103.141728 C50.7113429,102.469769 50.6236817,101.79128 50.627493,101.1166 C50.6367492,99.5572184 50.5735896,98.009263 50.3454526,96.4623957 C50.2136886,95.5700769 50.1303832,94.6500092 50.1973542,93.755514 C50.2681365,92.8093297 50.2011656,91.8887179 50.0704905,90.9648415 C49.8183964,89.1943504 49.6958885,87.4151538 49.7263794,85.6294281 C49.7470696,84.4634286 49.630551,83.3115757 49.5352671,82.1537376 C49.4269156,80.835391 49.1671989,79.5154122 49.4639403,78.1872718 C49.4878974,78.0795407 49.4710185,77.9609276 49.4606734,77.8482995 C49.417115,77.3694943 49.3833573,76.8885127 49.3180197,76.412428 C49.2178355,75.6806178 49.1459642,74.9520722 49.2526822,74.2126446 C49.2924292,73.9351552 49.2782727,73.6467839 49.2603049,73.3654859 C49.2020456,72.4329039 49.1078506,71.5024984 49.2216469,70.5661077 C49.2488708,70.343028 49.2314475,70.1128751 49.2194689,69.8870749 C49.1508645,68.5866835 49.0730039,67.2873803 49.0092998,65.9869889 C48.9940544,65.6768537 49.0196449,65.3650863 49.0289011,65.0538629 C49.0528582,64.2333649 49.0795377,63.4128669 49.1007724,62.592913 C49.1165623,61.9976711 49.0697371,61.3959 49.1497756,60.8104518 C49.2613939,59.991042 49.2662942,59.1743527 49.2608494,58.3533106 C49.2543156,57.3897151 49.2058569,56.4233992 49.2750059,55.4652447 C49.3844462,53.9390531 49.4677516,52.4215671 49.3975137,50.8855818 C49.324009,49.2766875 49.4192929,47.6596318 49.4459724,46.0463847 C49.4492393,45.8200404 49.4878974,45.5947844 49.4982425,45.3684401 C49.5603131,44.0968858 49.6261952,42.8253316 49.6746538,41.5532332 C49.7002444,40.8752886 49.6904437,40.1951675 49.7013333,39.5166788 C49.7122229,38.9230692 49.7568702,38.3283714 49.7367245,37.7358499 C49.7138564,37.0540966 49.7394469,36.3805048 49.8341863,35.7041924 C49.8848229,35.3450885 49.8614103,34.9729263 49.8445315,34.6083814 C49.8211188,34.1007391 49.7639485,33.5947291 49.73618,33.0870867 C49.6926217,32.29597 49.6550526,31.5043091 49.6278286,30.7126482 C49.6104052,30.2327548 49.5820923,29.7485087 49.6234728,29.272424 C49.6517857,28.9416131 49.7617706,28.6091699 49.8864564,28.2974025 C50.0465334,27.8974913 50.2675921,27.8039067 50.7042646,27.9268725 C50.974871,28.0030461 51.2362212,28.1189387 51.492671,28.2364636 C52.7003267,28.7914424 53.8301217,29.5101943 55.1080152,29.9160905 C55.2403237,29.957986 55.3568423,30.048306 55.4820726,30.1146858 C55.9813604,30.3785728 56.4784702,30.6473566 56.9826583,30.902538 C57.3360255,31.0815459 57.7013712,31.2366135 58.0590943,31.408004 C59.3609449,32.0326271 60.6399273,32.7116599 61.9717243,33.2633741 C62.7579528,33.588744 63.510968,33.976685 64.2901182,34.3096723 C65.4874287,34.8211233 66.6945399,35.3064577 67.9081848,35.7771014 C69.1757331,36.2684208 70.4334809,36.7825923 71.693951,37.2902346 C73.2811089,37.9284602 74.6885885,38.8969525 76.2452555,39.5776177 C77.2830335,40.3333681 78.4972229,40.7621164 79.6101391,41.3818427 C80.769336,42.0276856 82.0161942,42.5059467 83.2597854,42.9787669 C83.9256839,43.232316 84.5687143,43.1653921 85.1545743,42.8710357 C85.9201125,42.4863592 86.4052438,41.8263698 86.0186633,40.7468817 C85.8956109,40.4041007 85.6516841,40.1859179 85.3565762,40.0014691 C84.5344121,39.4872976 83.6354763,39.1461489 82.7321848,38.8060884 C81.7259866,38.427397 80.729589,38.0209567 79.7299246,37.6221337 C79.6253845,37.5807823 79.5213889,37.5236522 79.438628,37.4491109 C78.987799,37.0437588 78.4291629,36.8277524 77.8982954,36.5606008 C77.3685168,36.2929052 76.8539836,35.994196 76.3274719,35.7194271 C76.0018731,35.5491248 75.6811747,35.3483531 75.3332523,35.2455188 C73.7564395,34.7792278 72.3157466,33.9516566 70.7264109,33.521276 C70.5374765,33.4701309 70.3605206,33.3672966 70.1851982,33.2758883 C68.1973034,32.2410162 66.1446155,31.3514179 64.0576254,30.5374491 C63.3187667,30.2490777 62.6033206,29.8932384 61.8486719,29.6576445 C60.8702422,29.3518621 59.9255702,28.986229 59.0369796,28.4753221 C58.545859,28.1923918 58.0427599,27.9301371 57.5565397,27.6395894 C57.4492772,27.5759301 57.3267693,27.4388177 57.3191466,27.328366 C57.3049901,27.1226974 57.50917,27.0655673 57.6719694,27.0340097 C57.9218855,26.985585 58.1767019,26.9507628 58.4304294,26.9398809 C59.8237525,26.8811185 61.2023747,26.9790559 62.564118,27.3027935 C62.9457982,27.3936577 63.3476241,27.4263035 63.7407383,27.4355531 C64.6734318,27.457317 66.7070629,27.5275055 66.7914572,27.5356669 C67.3266806,27.5884443 67.8613595,27.6368689 68.3954939,27.6907345 C68.6769899,27.7190276 68.9584858,27.7424237 69.2361704,27.7881278 C70.549455,28.0030461 73.0665839,28.4132951 73.4482641,28.2854323 C73.8299443,28.1575696 74.6319626,28.2870646 75.2232674,28.3371215 C75.9006,28.3942517 76.5801104,28.4220006 77.2585319,28.4628079 C77.5977427,28.4834836 77.9369534,28.5052475 78.2761642,28.5248349 C78.9545857,28.5629217 79.6335517,28.5944793 80.3119732,28.637463 C80.8194281,28.6695647 81.3274276,28.7000341 81.8327046,28.7587966 C82.366839,28.8213677 82.8949842,28.9682738 83.4285741,28.9873172 C84.0269571,29.008537 84.6139061,29.0683877 85.1975881,29.1935299 C85.9751049,29.3605676 86.758611,29.4497995 87.5584514,29.4367412 C87.9194414,29.4307561 88.2836982,29.53087 88.6435992,29.598338 C89.1162074,29.6870257 89.5822819,29.8165208 90.0570681,29.8823565 C91.2336883,30.0455855 92.41412,30.1799775 93.5923737,30.3334128 C93.9054495,30.3736759 94.2294148,30.4269974 94.5087328,30.2692093 C95.0553903,29.9617946 95.5552225,29.5950734 95.8525083,29.0107134 C96.0479765,28.6254928 96.0490654,28.2587716 95.8563197,27.873551" id="Fill-1"></path>
                      </g>
                  </g>
              </g>
          </svg>
        </div>
        <div class="col-12 col-md-5 col-xl-5 footer-inset-nav" >
          {% if section.settings.upper_linklist and linklists[section.settings.upper_linklist].links.size > 0 %}
            <ul class="footer-menu">
              <li><h6>Explore</h6></li>
              <li><h6>Get In Touch</h6></li>
            </ul>

            <ul class="footer-menu text-sans-serif fs">
              {% for link in linklists[section.settings.upper_linklist].links %}
                {% assign title = link.title | downcase %}
                {% if title contains 'account' or link.url contains 'account' %}
                  {% comment %} Add login / account link {% endcomment %}
                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                      <li><a href="/account">Account</a></li>
                    {% else %}
                      <li><a href="/account/login" data-account-drawer-trigger>Account</a></li>
                    {% endif %}
                  {% endif %}

                {% elsif title contains 'text' %}
                <li><a href="sms:8004427567"><span class="fw">Text:</span>{{ link.title | remove: 'Text: '}}</a></li>
                {% elsif title contains 'follow' %}
                <li><a href="{{ link.url }}"><span class="fw">Follow:</span>{{ link.title  | remove: 'Follow: ' }}</a></li>
                {% elsif title contains 'email' %}
                <li><a href="{{ link.url }}"><span class="fw">Email:</span>{{ link.title | remove: 'Email: ' }}</a></li>
                {% else %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}

              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="col-12 col-md-5 col-xl-5">
          {% if settings.klaviyo_list_id != blank %}
          <h4 class="signup-headline">Stay informed.  Sign up for the latest on new products, recipes, events and more</h4>
            <form method="post"
                  class="newsletter-form form-inverted"
                  data-newsletter-form
                  data-klaviyo-list-id="{{ settings.klaviyo_list_id }}"
                  data-klaviyo-source="Footer"
            >
              <div class="newsletter-form-contents" data-form-contents>
                <div class="newsletter-form-inputs">
                  <div class="minimal-input-box">
                    <input type="email" placeholder="Email Address" class="minimal-input-box__input" />
                    <button type="submit" class="minimal-input-box__submit">
                      {% include 'icon-arrow' %}
                      <span class="icon-fallback-text">Submit</span>
                    </button>
                  </div>
                </div>
                <div class="newsletter-form-message"
                    data-form-message
                    data-success="{% render 'newsletter-form-message', type: 'success' %}"
                    data-already-subscribed="{% render 'newsletter-form-message', type: 'already-subscribed' %}"
                    data-fail="{% render 'newsletter-form-message', type: 'fail' %}">
                </div>  
              </div>
            </form>          
          {% endif %}    
        </div>
      </div>
    </div>
  </div>
  <div class="footer__lower">
    <div class="aplos-container">
      <div class="row">
        <div class="col-6 col-xl-7 d-none d-md-block">
          {% if section.settings.footer_text != blank %}
            {{ section.settings.footer_text }}
          {% endif %}
        </div>
        <div class="col-12 col-md-6 col-xl-5" style="display: flex; justify-content: space-between;">
          <span>
            {% if section.settings.copyright_text != blank %}
              {% assign year = 'now' | date: "%Y" %}
                {{ section.settings.copyright_text | replace: '$year$', year |
                                                     replace: '$shop$', shop.name |
                                                     replace: '$copy$', '&copy;' |
                                                     replace: '&nbsp;', ' ' | 
                                                     strip
                }}
            {% endif %}
          </span>
          {% if section.settings.lower_linklist and linklists[section.settings.lower_linklist].links.size > 0 %}
            <div>
              {% for link in linklists[section.settings.lower_linklist].links %}
                <a href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Upper Footer"
      },    
      {
        "type": "link_list",
        "id": "upper_linklist",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Lower Footer"
      },
      {
        "type": "richtext",
        "id": "footer_text",
        "label": "Footer Text"
      },      
      {
        "type": "richtext",
        "id": "copyright_text",
        "label": "Copyright Text",
        "info": "Use the following text replacements: '$year$' = the current year, '$shop$' = the name of your shop, $copy$ = copyright symbol"
      },
      {
        "type": "link_list",
        "id": "lower_linklist",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
