<footer class="footer drawer-shifter" data-section-id="{{ section.id }}" data-section-type="footer">

  <div class="footer__upper">
    {% if template.name == "index" %}
      <div style="margin-bottom: 3rem;">
        {% if section.settings.top_content != blank %}
          <div class="aplos-4side-container">
            <div class="row">
              <div class="col-lg-9">
                <div class="aplos-row-big-text">
                  {{ section.settings.top_content }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% capture aplos_blocks %}
          {% for block in section.blocks %}
            {% render 'aplos-block'
                      bg_image: block.settings.background_image,
                      bg_video_file_url: block.settings.background_video_file_url
            %}
          {% endfor %}
        {% endcapture %}

        {% if aplos_blocks != blank %}
          <div class="d-none d-md-block">
            <div class="aplos-container">
              <div class="aplos-row aplos-row--footer aplos-row--fixed aplos-row--shorter">
                {{ aplos_blocks }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="aplos-container">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="footer-menus footer-inset-nav">
            {% for i in (1..2) %}
              {% assign menu_linklist_setting_handle = "upper_menu_linklist_" | append: i %}
              {% assign menu_title_setting_handle = "upper_menu_title_" | append: i %}

              {% assign menu_linklist_handle = section.settings[menu_linklist_setting_handle] %}
              {% assign menu_title = section.settings[menu_title_setting_handle] %}

              {% capture menu_contents %}
                {% if menu_title != blank %}
                  <h6>{{ menu_title }}</h6>
                {% endif %}

                {% if menu_linklist_handle != blank and linklists[menu_linklist_handle].links.size > 0 %}
                  <ul class="footer-menu">
                    {% for link in linklists[menu_linklist_handle].links %}
                      {% assign title = link.title | downcase %}
                      {% if title contains 'account' or link.url contains 'account' %}
                        {% comment %} Add login / account link {% endcomment %}
                        {% if shop.customer_accounts_enabled %}
                          {% if customer %}
                            <li><a href="/account">Account</a></li>
                          {% else %}
                            <li><a href="/account/login" data-account-drawer-trigger>Account</a></li>
                          {% endif %}
                        {% endif %}

                      {% elsif title contains 'text' and section.settings.text_phone_number != blank %}
                        <li>
                          <a href="sms:{{ section.settings.text_phone_number | handle | replace: '-', '' }}">
                            <span class="footer-menu__contact-link-pretext">Text</span>
                            <span class="emdash"></span>
                            {{ link.title | remove: 'Text:' | strip }}
                          </a>
                        </li>
                      {% elsif title contains 'follow' %}
                        <li>
                          <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                            <span class="footer-menu__contact-link-pretext">Follow</span>
                            <span class="emdash"></span>
                            {{ link.title  | remove: 'Follow:' | strip }}
                          </a>
                        </li>
                      {% elsif title contains 'email' %}
                        <li>
                          <a href="{{ link.url }}" target="_blank">
                            <span class="footer-menu__contact-link-pretext">Email</span>
                            <span class="emdash"></span>
                            {{ link.title | remove: 'Email:' | strip }}
                          </a>
                        </li>
                      {% else %}
                        <li>
                          <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                            {{ link.title }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endcapture %}

              {% if menu_contents != blank %}
                <div class="footer-menu-wrap">{{ menu_contents }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-12 col-md-5">
          {% if settings.klaviyo_list_id != blank %}
            {% if section.settings.subscribe_heading != blank %}
              <h6>{{ section.settings.subscribe_heading }}</h6>
            {% endif %}

            {% if section.settings.subscribe_message != blank %}
              <div class="footer-subscribe-message">{{ section.settings.subscribe_message }}</div>
            {% endif %}            
            <form method="post"
                  class="newsletter-form form-inverted"
                  data-newsletter-form
                  data-klaviyo-list-id="{{ settings.klaviyo_list_id }}"
                  data-klaviyo-source="Footer"
            >
              <div class="newsletter-form-contents" data-form-contents>
                <div class="newsletter-form-inputs">
                  <div class="minimal-input-box">
                    <input type="email" placeholder="Email Address" class="minimal-input-box__input" />
                    <button type="submit" class="minimal-input-box__submit">
                      {% include 'icon-arrow' %}
                      <span class="icon-fallback-text">Submit</span>
                    </button>
                  </div>
                </div>
                <div class="newsletter-form-message"
                    data-form-message
                    data-success="{% render 'newsletter-form-message', type: 'success' %}"
                    data-already-subscribed="{% render 'newsletter-form-message', type: 'already-subscribed' %}"
                    data-fail="{% render 'newsletter-form-message', type: 'fail' %}">
                </div>  
              </div>
            </form>          
          {% endif %}    
        </div>
      </div>
    </div>
  </div>
  <div class="footer__lower">
    <div class="aplos-container">
      <div class="row">
        <div class="col-6 col-xl-7 d-none d-md-block">
          {% if section.settings.footer_text != blank %}
            {{ section.settings.footer_text }}
          {% endif %}
        </div>
        <div class="col-12 col-md-6 col-xl-5">
          <div class="footer__lower-content">
            {% if section.settings.lower_linklist and linklists[section.settings.lower_linklist].links.size > 0 %}
              <div>
                {% for link in linklists[section.settings.lower_linklist].links %}
                  <a href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
            {% endif %}
            {% if section.settings.copyright_text != blank %}
              <div>
                {% assign year = 'now' | date: "%Y" %}
                  {{ section.settings.copyright_text | replace: '$year$', year |
                                                       replace: '$shop$', shop.name |
                                                       replace: '$copy$', '&copy;' |
                                                       replace: '&nbsp;', ' ' | 
                                                       strip
                  }}
              </div>                
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "Top",
        "info": "This area is only displayed on the homepage"
      },
      {
        "type": "textarea",
        "id": "top_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Upper Footer"
      },
      {
        "type": "text",
        "id": "text_phone_number",
        "label": "Text Phone Number"
      },      
      {
        "type": "text",
        "id": "upper_menu_title_1",
        "label": "Menu 1 Title"
      },
      {
        "type": "link_list",
        "id": "upper_menu_linklist_1",
        "label": "Menu 1"
      },
      {
        "type": "text",
        "id": "upper_menu_title_2",
        "label": "Menu 2 Title"
      },
      {
        "type": "link_list",
        "id": "upper_menu_linklist_2",
        "label": "Menu 2"
      },
      {
        "type": "header",
        "content": "Subscribe"
      },      
      {
        "type": "text",
        "id": "subscribe_heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "subscribe_message",
        "label": "Message"
      },      
      {
        "type": "header",
        "content": "Lower Footer"
      },
      {
        "type": "richtext",
        "id": "footer_text",
        "label": "Footer Text"
      },      
      {
        "type": "richtext",
        "id": "copyright_text",
        "label": "Copyright Text",
        "info": "Use the following text replacements: '$year$' = the current year, '$shop$' = the name of your shop, $copy$ = copyright symbol"
      },
      {
        "type": "link_list",
        "id": "lower_linklist",
        "label": "Menu"
      }
    ],
    "blocks": [
      {
        "type": "top_block",
        "name": "Top Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }
        ]
      }
    ]
  }
{% endschema %}
