{% assign header_modifier_class = '' %}

{% if 'index' contains template.name %}
  {% assign header_modifier_class = 'header--transparent' %}
{% elsif '404' contains template.name %}
  {% assign header_modifier_class = 'header--white' %}
{% elsif 'product' contains template.name %}
  {% assign header_modifier_class = 'header--white-mobile' %}
{% endif %}

{% if template.name == 'page' and template.suffix == 'help' %}
  {% assign header_modifier_class = 'header--transparent header--white-mobile' %}
{% elsif template.name == 'page' and template.suffix == 'philosophy' %}
  {% assign header_modifier_class = 'header--transparent header--white-mobile' %}
{% endif %}

{% assign cookie_hash = section.settings.banner_content | append: section.settings.banner_mobile_content | md5 %}
{% assign cookie_name = 'pencil_banner_seen' %}

<div data-section-id="{{ section.id }}" data-section-type="header" data-cookie-name="{{ cookie_name }}" data-cookie-hash="{{ cookie_hash }}">
  <header class="header {{ header_modifier_class }}" role="banner" data-header>
    {% if section.settings.banner_enabled %}
      <div id="pencil-banner" class="pencil-banner drawer-shifter" data-pencil-banner>
        {% comment %}
          @TODO
            - Replace container fluid max?
            - Make sure content is centered with/without accent text
        {% endcomment %}
        <div class="aplos-container">
          <span class="pencil-banner__accent">
            {{ section.settings.banner_accent_text }}
          </span>
          <div>
            <div class="d-none d-md-block">{{ section.settings.banner_content }}</div>
            <div class="d-block d-md-none">{{ section.settings.banner_mobile_content | default: section.settings.banner_content }}</div>
          </div>
          <a href="#" class="pencil-banner__close" title="Close" data-pencil-banner-close>
            {% include 'icon-close' %}
          </a>
        </div>
      </div>

      <script type="text/javascript">
        // If they've already seen the pencil banner, hide it here as soon as possible
        (function() {
          var getCookie = function (name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
          };

          var c = getCookie('{{ cookie_name }}');
          if(c && c === "{{ cookie_hash }}") {
            document.getElementById('pencil-banner').style.display = 'none';
          }
        })();
      </script>
    {% endif %}

    <div class="header-main" data-header-main>
      <div class="header-bar drawer-shifter">
        <div class="header-bar__content aplos-container">
          <nav class="header-nav header-nav--left">

            {% comment %} Header nav menu on desktop {% endcomment %}
            {% if section.settings.linklist and linklists[section.settings.linklist].links.size > 0 %}
              <ul class="header-nav__menu for-desktop">
                {% for link in linklists[section.settings.linklist].links %}
                  <li class="header-nav__menu-item">        
                    <a href="{{ link.url }}" {% if link.active %}class="is-active"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}         
              </ul>
            {% endif %}

            {% comment %} Header nav menu on mobile {% endcomment %}
            <ul class="header-nav__menu for-mobile">
              <li class="header-nav__menu-item">
                <a href="#" title="Toggle menu" data-mobile-menu-toggle>
                  Menu
                </a>
              </li>
            </ul>        
          </nav>
          
          {% comment %} Logo {% endcomment %}
          <div class="header-nav header-nav--center header-nav--logo">
            {% include 'header-logo' %}
          </div>

          {% comment %} Cart {% endcomment %}
          <div class="header-nav header-nav--right">
            <ul class="header-nav__menu">
              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <li class="header-nav__menu-item for-desktop">
                    <a href="/account">Account</a>
                  </li>
                {% else %}
                  <li class="header-nav__menu-item for-desktop">
                    <a href="/account/login" data-account-drawer-trigger>Login</a>
                  </li>
                {% endif %}
              {% endif %}
              <li class="header-nav__menu-item">   
                <a href="/cart" data-ajax-cart-trigger>
                  <div class="header-cart__badge{% if cart.item_count > 0 %} has-items{% endif %}" data-cart-badge>
                    {% include 'icon-bloom-4' %}
                    <span class="header-cart__badge-count p2" data-cart-badge-count>{{ cart.item_count }}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Pencil Banner"
      },
      {
        "id": "banner_enabled",
        "type": "checkbox",
        "label": "Show Pencil Banner",
        "default": true
      },
      {
        "id": "banner_accent_text",
        "type": "text",
        "label": "Accent Text",
        "default": "Notice"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "id": "banner_content",
        "type": "richtext", 
        "label": "Desktop Text",
        "default": "<p>Default Banner Text</p>"
      },
      {
        "id": "banner_mobile_content",
        "type": "richtext", 
        "label": "Mobile Text",
        "info": "Alternate text for small screens, will fall back to regular content if left blank"
      }
    ]
  }
{% endschema %}
