<div data-section-id="{{ section.id }}" data-section-type="hero">
  <div class="hero">
    {% if section.settings.title != blank %}
      <h2 class="hero__title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.content != blank %}
      <div class="hero__content">
        {{ section.settings.content }}
      </div>
    {% endif %}

    {% if section.settings.cta_url != blank or section.settings.cta_text != blank %}
      <a href="{{ section.settings.cta_url }}" class="btn {{ section.settings.cta_style }}">{{ section.settings.cta_text }}</a>
    {% endif %}

    {% if section.settings.bg_image %}
      <div class="hero__bg">
        <img src="{{ section.settings.bg_image | img_url: '1600x' }}" />
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      },
      {
        "type": "select",
        "id": "cta_style",
        "options": [
          { "value": "btn-primary", "label": "Primary"},
          { "value": "btn-primary-alt", "label": "Primary Alt"}
        ],
        "label": "CTA Style",
        "default": "btn-primary"
      }
    ]
  }
{% endschema %}