<div data-section-id="{{ section.id }}" data-section-type="showcase">
  {% capture block_content %}
    <div class="showcase{% if section.settings.color == 'light' %} showcase--light{% endif %}">
      {% if section.settings.title != blank %}
        <h2 class="showcase__title">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <div class="showcase__subtitle p2">{{ section.settings.subtitle }}</div>
      {% endif %}
      {% if section.settings.content != blank %}
        <div class="rte">
          {{ section.settings.content }}
        </div>
      {% endif %}
    </div>
    {% if section.settings.related_product != blank %}
      {% assign related_product = all_products[section.settings.related_product] %}
      {% assign current_variant = related_product.selected_or_first_available_variant %}
      <form action="/cart/add" method="post" enctype="multipart/form-data">
        <div class="showcase__controls">
          {% if related_product.available %}
            <div class="showcase__control" style="flex: 1.5;">
              <button type="submit" name="add" class="btn btn-primary btn-block" data-add-to-cart>
                <span data-add-to-cart-text>
                  {{ 'products.product.add_to_cart' | t }}              
                </span>
                <span class="emdash"></span>
                {{ current_variant.price | money_without_trailing_zeros }} USD
              </button>
            </div>
          {% endif %}
            
          <div class="showcase__control{% if related_product.available %} d-none d-lg-inline-block{% endif %}" style="flex: 1;">
            <a href="{{ related_product.url }}" class="btn btn-block{% if section.settings.color == 'light' %} btn-light-outline{% else %} btn-primary-alt{% endif %}">Learn More</a>
          </div>
        </div>

        <input type="hidden" name="id" value="{{ current_variant.id }}" />
        <input type="hidden" name="quantity" value="1" />
      </form>
    {% endif %}        
  {% endcapture %}  

  <div class="aplos-row">
    {% render 'aplos-block'
              bg_image: section.settings.main_image,
              bg_video_file_url: section.settings.main_video_file_url
    %}

    {% render 'aplos-block',
              content: block_content,
              bg_image: section.settings.background_image,
              bg_video_file_url: section.settings.background_video_file_url
    %}
  </div>

</div>

{% schema %}
  {
    "name": "Showcase",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
      },      
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "product",
        "id": "related_product",
        "label": "Related Product",
        "info": "If set, buttons to view and purchase the product will appear"
      },
      {
        "type": "header",
        "content": "Design"
      },
      {
        "type": "select",
        "id": "color",
        "options": [
          { "value": "light", "label": "Light"},
          { "value": "dark", "label": "Dark"}
        ],
        "label": "Content Color",
        "default": "light"
      },   
      {
        "type": "image_picker",
        "id": "main_image",
        "label": "Main Image"
      },
      {
        "type": "url",
        "id": "main_video_file_url",
        "label": "Main Video File URL",
        "info": "Accepted file formats: mp4, ogg, avi, webm"
      },       
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "url",
        "id": "background_video_file_url",
        "label": "Background Video File URL",
        "info": "Accepted file formats: mp4, ogg, avi, webm"
      }
    ],
    "presets": [{
      "name": "Showcase",
      "category": "Content",
      "settings": {
        "title": "Showcase Title"
      }
    }]
  }
{% endschema %}
