<div data-section-id="{{ section.id }}" data-section-type="testimonials">
  <div class="bg-butter-gray">
    <div class="testimonals-container">
      <h3 class="text-center small" style="margin-bottom:2em;">Mentions & Musings</h3>
      {% if section.blocks.size > 0 %}
        <div id="slideshow-{{ section.id }}" class="swiper-container" data-slideshow>
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% assign pre = '' %}
              {% assign post = '' %}
              {% if block.settings.quotes_enabled %}
                {% assign pre = '<span class="d-none d-md-inline">&ldquo;</span>' %}
                {% assign post = '<span class="d-none d-md-inline">&rdquo;</span>' %}
              {% endif %}

              <div class="swiper-slide" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
                <div class="testimonial">
                  <div class="testimonial__content">
                  {{ block.settings.content | prepend: pre | append: post }}
                  </div>
                  <div class="testimonial__author">
                    {% if block.settings.author_logo %}
                      <img src="{{ block.settings.author_logo | img_url: 'master' }}" alt="{{block.settings.author}}" style="max-width:50px;margin:0 auto;"/>
                    {% else %}
                      {{ block.settings.author }}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-navigation">
            <div class="swiper-navigation__controls">
              <a href="#" class="swiper-prev animated-link">Previous</a>
              <a href="#" class="swiper-next animated-link">Next</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 6,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          },
          {
            "type": "image_picker",
            "id": "author_logo",
            "label": "Author Logo"
          },
          {
            "type": "checkbox",
            "id": "quotes_enabled",
            "label": "Wrap with quotation marks",
            "default": true
          }
        ]
      }
    ],
    "presets": [{
      "name": "Testimonials",
      "category": "Content",
      "settings": {},
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "content": "I love Aplos...",
            "author": "Jane Doe"
          }
        }
      ]
    }]
  }
{% endschema %}
