<div data-section-id="{{ section.id }}" data-section-type="mobile-menu">
  <div class="drawer drawer--left" data-mobile-menu>
    <div class="drawer__header">
      <a href="#" class="drawer__close" data-drawer-close>
        {% include 'icon-close' %}
      </a>        
    </div>
    <div class="drawer__body">
      <div class="drawer__block">
        {% if section.settings.linklist and linklists[section.settings.linklist].links.size > 0 %}
          <ul class="mobile-menu-list mobile-menu-list--primary">
            {% for link in linklists[section.settings.linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if section.settings.show_social_accounts %}
        {%- capture social_menu_html %}
          {% if settings.social_handle_instagram != blank %}
            <li>
              <a href="https://instagram.com/{{ settings.social_handle_instagram }}" target="_blank">Instagram</a>
            </li>
          {% endif %}
          {% if settings.social_handle_facebook != blank %}
            <li>
              <a href="https://facebook.com/{{ settings.social_handle_facebook }}" target="_blank">Facebook</a>
            </li>
          {% endif %}
          {% if settings.social_handle_twitter != blank %}
            <li>
              <a href="https://twitter.com/{{ settings.social_handle_twitter }}" target="_blank">Twitter</a>
            </li>
          {% endif %}
        {%- endcapture -%}

        {% if social_menu_html != blank %}
          <div class="drawer__block">
            <ul class="mobile-menu-list mobile-menu-list--secondary">
              {{ social_menu_html }}
            </ul>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="drawer__footer">
      {% if settings.klaviyo_list_id != blank %}
        {% comment %} TODO - Implement this{% endcomment %}
        <form>
          <div class="minimal-input-box">
            <input type="search" placeholder="Enter your email address for updates" class="minimal-input-box__input" style="border-radius: 0;" />
            <button type="submit" class="minimal-input-box__submit">
              {% include 'icon-arrow' %}
              <span class="icon-fallback-text">Submit</span>
            </button>
          </div>          
        </form>
      {% endif %}
    </div>    
  </div>
</div>

{% schema %}
  {
    "name": "Mobile Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Menu"
      },
      {
        "type": "checkbox",
        "id": "show_social_accounts",
        "label": "Show social account links",
        "default": false
      }
    ]
  }
{% endschema %}
