<div data-section-id="{{ section.id }}" data-section-type="mobile-menu">
  <div class="drawer drawer--left" data-mobile-menu>
    <div class="drawer-overflow">
      <a href="#" class="drawer__close" data-drawer-close>
        {% include 'icon-close' %}
      </a>      
      <div class="drawer__contents">   
        <div class="drawer__header">
          {% include 'icon-dandelion' %}   
        </div>
        <div class="drawer__body">
          <div class="drawer__block">
            {% if section.settings.linklist_primary and linklists[section.settings.linklist_primary].links.size > 0 %}
              <ul class="mobile-menu-list mobile-menu-list--primary">
                {% for link in linklists[section.settings.linklist_primary].links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}

                {% if shop.customer_accounts_enabled %}
                  <li><a href="/account">Account</a></li>
                {% endif %}                   
              </ul>
            {% endif %}
          </div>

          <div class="drawer__block">
            <ul class="mobile-menu-list mobile-menu-list--secondary">
              {% if section.settings.linklist_secondary and linklists[section.settings.linklist_secondary].links.size > 0 %}                
                {% for link in linklists[section.settings.linklist_secondary].links %}
                  {% assign title = link.title | downcase %}

                  {% if title contains 'text' and settings.contact_phone_number != blank %}
                    <li>
                      <a href="sms:{{ settings.contact_phone_number | handle | replace: '-', '' }}">
                        <span class="fw">Text:</span>{{ link.title | remove: 'Text: '}}
                      </a>
                    </li>
                  {% elsif title contains 'follow' %}
                    <li><a href="{{ link.url }}"><span class="fw">Follow:</span>{{ link.title  | remove: 'Follow: ' }}</a></li>
                  {% elsif title contains 'email' %}
                    <li><a href="{{ link.url }}"><span class="fw">Email:</span>{{ link.title | remove: 'Email: ' }}</a></li>
                  {% else %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="drawer__footer">
          {% if settings.klaviyo_list_id != blank %}
            <form method="post"
                  class="newsletter-form form-inverted"
                  data-newsletter-form
                  data-klaviyo-list-id="{{ settings.klaviyo_list_id }}"
                  data-klaviyo-source="Mobile menu"
            >
              <div class="newsletter-form-contents" data-form-contents>
                <div class="newsletter-form-inputs">
                  <div class="minimal-input-box">
                    <input type="email" placeholder="Enter your email address for updates" class="minimal-input-box__input" />
                    <button type="submit" class="minimal-input-box__submit">
                      {% include 'icon-arrow' %}
                      <span class="icon-fallback-text">Submit</span>
                    </button>
                  </div>
                </div>
                <div class="newsletter-form-message"
                    data-form-message
                    data-success="{% render 'newsletter-form-message', type: 'success' %}"
                    data-already-subscribed="{% render 'newsletter-form-message', type: 'already-subscribed' %}"
                    data-fail="{% render 'newsletter-form-message', type: 'fail' %}">
                </div>  
              </div>
            </form>  
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mobile Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "linklist_primary",
        "label": "Primary Menu"
      },
      {
        "type": "link_list",
        "id": "linklist_secondary",
        "label": "Secondary Menu"
      }
    ]
  }
{% endschema %}
