<div class="drawer-shifter" data-section-id="{{ section.id }}" data-section-type="page-philosophy">
  
  {% render 'page-hero',
            title: section.settings.hero_title,
            align: 'left',
            bg_image_desktop: section.settings.hero_bg_image,
            bg_image_mobile: section.settings.hero_bg_image_mobile,
            bg_video_setting_handle: section.settings.hero_bg_image_video
  %}

  {% for block in section.blocks %}
    {% capture block_content %}
      <div class="pb__title">{{ block.settings.title }}</div>
      <div class="pb__content">{{ block.settings.content }}</div>
    {% endcapture %}

    <div class="philosophy-block {{ block.type | replace: '_', '-' | handle | prepend: 'philosophy-block--' }}" {{ block.shopify_attributes }}>
      {% case block.type %}
        {% when 'type_a' %}
          <div class="pb__title">{{ block.settings.title }}</div>
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="pb__content">{{ block.settings.content }}</div>
            </div>
          </div>
        {% when 'type_b' %}
          <div class="pb-frame-row">
            <div class="pb-frame">
              {% render 'aplos-block'
                        bg_image: block.settings.image_1,
                        bg_video_file_url: block.settings.background_video_file_url_1
              %}
            </div>
            <div class="pb-frame">
              {% render 'aplos-block'
                        bg_image: block.settings.image_2,
                        bg_video_file_url: block.settings.background_video_file_url_2
              %}
            </div>
            <div class="pb-frame d-none d-md-block">
              {% render 'aplos-block' %}
            </div>
          </div>
          <div class="pb-frame-row pb-frame-row--reverse">
            <div class="pb-frame">
              {% render 'aplos-block'
                        bg_image: block.settings.image_3,
                        bg_video_file_url: block.settings.background_video_file_url_3
              %}
            </div>
            <div class="pb-frame d-md-none">
              {% render 'aplos-block' %}
            </div>            
            <div class="pb-frame d-none d-md-block">
              {% render 'aplos-block'
                        bg_image: block.settings.image_4,
                        bg_video_file_url: block.settings.background_video_file_url_4
              %}
            </div>

            <div class="pb-frame pb-frame--content d-none d-md-block">
              {% render 'aplos-block'
                        content: block_content
              %}
            </div>            
          </div>
          <div class="d-md-none">
            {% render 'aplos-block'
                      content: block_content
            %}
          </div>
        {% when 'type_c' %}
          {% capture block_content %}
            <div class="pb__title">{{ block.settings.title }}</div>
            <div class="pb__content">{{ block.settings.content }}</div>
          {% endcapture %}

          <div class="pb-frame-row d-md-none" style="height: 110vw">
            <div class="pb-frame">
              {% render 'aplos-block'
                        bg_image: block.settings.image_1
              %}
            </div>
          </div>

          <div class="pb-frame-row">
            <div class="pb-frame d-none d-md-block">
              {% render 'aplos-block'
                        bg_image: block.settings.image_1,
                        bg_video_file_url: block.settings.background_video_file_url_1
              %}            
            </div>
            <div class="pb-frame" style="flex: 2;">
              {% render 'aplos-block'
                        content: block_content
              %}
            </div>
          </div>  

          <div class="pb-frame-row d-md-none" style="height: 50vw">
            {% render 'aplos-block'
                      bg_image: block.settings.image_2,
                      bg_video_file_url: block.settings.background_video_file_url_2
            %}            
            {% render 'aplos-block' %}
          </div>
        {% when 'type_d' %}
          {% render 'aplos-block'
                    content: block_content,
                    bg_image: block.settings.background_image,
                    bg_video_file_url: block.settings.background_video_file_url
          %}
      {% endcase %}
    </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Philosophy Page",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "text",
        "id": "hero_title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image",
        "label": "Background Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image_mobile",
        "label": "Background Image (Mobile)"
      },
      {
        "type": "url",
        "id": "hero_bg_image_video",
        "label": "Background Video File URL",
        "info": "Accepted file formats: mp4, ogg, avi, webm"
      }
    ],
    "blocks": [
      {
        "type": "type_a",
        "name": "Block - Type A",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "type_b",
        "name": "Block - Type B",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url_1",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          },          
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url_2",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }, 
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url_3",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }, 
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url_4",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }         
        ]
      },
      {
        "type": "type_c",
        "name": "Block - Type C",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url_1",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          },         
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url_2",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }
        ]
      },
      {
        "type": "type_d",
        "name": "Block - Type D",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "url",
            "id": "background_video_file_url",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }
        ]
      }
    ]
  }
{% endschema %}
