<div class="drawer-shifter" data-section-id="{{ section.id }}" data-section-type="page-philosophy">
  {% render 'page-hero',
            title: section.settings.hero_title,
            align: 'center',
            bg_image_desktop: section.settings.hero_bg_image,
            bg_image_mobile: section.settings.hero_bg_image_mobile,
  %}  
 
  {% for block in section.blocks %}
    <div class="aplos-row {{ block.settings.height | prepend: 'aplos-row--' }}" {{ block.shopify_attributes }}>
      {% for i in (1..3) %}
        {% assign slot_enabled_setting_handle  = 'slot_' | append: i | append: '_enabled' %}
        {% assign slot_heading_setting_handle  = 'slot_' | append: i | append: '_heading' %}
        {% assign slot_content_setting_handle  = 'slot_' | append: i | append: '_content' %}
        {% assign slot_bg_color_setting_handle = 'slot_' | append: i | append: '_background_color' %}
        {% assign slot_bg_image_setting_handle = 'slot_' | append: i | append: '_background_image' %}
        {% assign slot_bg_video_setting_handle = 'slot_' | append: i | append: '_background_video_file_url' %}

        {% if block.settings[slot_enabled_setting_handle] == true %}
          {%- capture block_content -%}
            {% if block.settings[slot_heading_setting_handle] != blank %}
              <div class="aplos-block__top-title d-none d-md-block">{{ block.settings[slot_heading_setting_handle] }}</div>
            {% endif %}
            {% if block.settings[slot_content_setting_handle] != blank %}
              <div class="aplos-block__title">{{ block.settings[slot_content_setting_handle] }}</div>
            {% endif %}
            {% if block.settings[slot_heading_setting_handle] != blank %}
              <div class="aplos-block__bottom-title d-md-none">{{ block.settings[slot_heading_setting_handle] }}</div>
            {% endif %}
          {%- endcapture -%}

          {% render 'aplos-block'
                    classes: 'aplos-block--philosophy',
                    content: block_content,
                    bg_color: block.settings[slot_bg_color_setting_handle],
                    bg_image: block.settings[slot_bg_image_setting_handle],
                    bg_video_file_url: block.settings[slot_bg_video_setting_handle]
          %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Philosophy Page",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "text",
        "id": "hero_title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image",
        "label": "Background Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image_mobile",
        "label": "Background Image (Mobile)"
      }
    ],
    "blocks": [
      {
        "type": "row",
        "name": "Row",
        "settings": [
          {
            "type": "select",
            "id": "height",
            "options": [
              { "value": "tall", "label": "Tall"},
              { "value": "medium", "label": "Medium"},
              { "value": "short", "label": "Short"}
            ],
            "label": "Height",
            "default": "tall"
          },
          {
            "type": "header",
            "content": "Slot 1"
          },
          {
            "type": "checkbox",
            "id": "slot_1_enabled",
            "label": "Enabled",
            "default": false
          },
          {
            "type": "text",
            "id": "slot_1_heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "slot_1_content",
            "label": "Content"
          },          
          {
            "type": "select",
            "id": "slot_1_background_color",
            "options": [
              { "value": "butter-dark", "label": "Yellow"},
              { "value": "black", "label": "Black"}
            ],
            "label": "Background Color",
            "default": "butter-dark"
          }, 
          {
            "type": "image_picker",
            "id": "slot_1_background_image",
            "label": "Background Image"
          },
          {
            "type": "url",
            "id": "slot_1_background_video_file_url",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          },          
          {
            "type": "header",
            "content": "Slot 2"
          },
          {
            "type": "checkbox",
            "id": "slot_2_enabled",
            "label": "Enabled",
            "default": false
          },
          {
            "type": "text",
            "id": "slot_2_heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "slot_2_content",
            "label": "Content"
          },           
          {
            "type": "select",
            "id": "slot_2_background_color",
            "options": [
              { "value": "butter-dark", "label": "Yellow"},
              { "value": "black", "label": "Black"}
            ],
            "label": "Background Color",
            "default": "butter-dark"
          }, 
          {
            "type": "image_picker",
            "id": "slot_2_background_image",
            "label": "Background Image"
          },
          {
            "type": "url",
            "id": "slot_2_background_video_file_url",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          },  
          {
            "type": "header",
            "content": "Slot 3"
          },
          {
            "type": "checkbox",
            "id": "slot_3_enabled",
            "label": "Enabled",
            "default": false
          },
          {
            "type": "text",
            "id": "slot_3_heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "slot_3_content",
            "label": "Content"
          },           
          {
            "type": "select",
            "id": "slot_3_background_color",
            "options": [
              { "value": "butter-dark", "label": "Yellow"},
              { "value": "black", "label": "Black"}
            ],
            "label": "Background Color",
            "default": "butter-dark"
          },                 
          {
            "type": "image_picker",
            "id": "slot_3_background_image",
            "label": "Background Image"
          },
          {
            "type": "url",
            "id": "slot_3_background_video_file_url",
            "label": "Background Video File URL",
            "info": "Accepted file formats: mp4, ogg, avi, webm"
          }
        ]
      }
    ]
  }
{% endschema %}
