{% comment %} Newsletter messaging {% endcomment %}
{% assign message_already_subscribed = section.settings.subscribe_already_subscribed_text %}
{% if message_already_subscribed == blank %}
  {% assign message_already_subscribed = 'general.newsletter.already_subscribed' | t %}
{% endif %}

{% assign message_success = section.settings.subscribe_success_text %}
{% if message_success == blank %}
  {% assign message_success = 'general.newsletter.subscribe_success' | t %}
{% endif %}            

{% assign message_fail = 'general.newsletter.subscribe_fail' | t %}  

<div class="password-page" data-section-id="{{ section.id }}" data-section-type="password">    
  <div class="password-logo">
    {% include 'icon-logo' %}
  </div>

  <div class="password-container">
    <div class="password-content">
      {% if section.settings.content != blank %}
        <div class="password-message">
          {{ section.settings.content }}
        </div>
      {% endif %}

      {% if settings.klaviyo_list_id == blank %}
        <div style="color: #ff9449; font-size: 1.4rem;">
          A Klaviyo <em>List ID</em> is required for users to sign up.  Please enter this information inside the <a href="/admin/themes/{{ theme.id }}/settings" target="_blank" style="color: #ff9449; text-decoration: underline">main theme settings</a> under "Mailing List".
        </div>
      {% else %}
        <form method="post" data-form data-klaviyo-list-id="{{ settings.klaviyo_list_id }}" data-klaviyo-source="Password Page">
          <div class="subscribe-form-contents">
            <input type="email" class="form-control" value="" placeholder="{{ section.settings.subscribe_placeholder_text | upcase }}" required="required" />
            
            <div class="btn-wrapper">
              <button type="submit" class="btn">
                Submit
              </button>
            </div>

            <div class="subscribe-form-message"
               data-form-message
               data-message-success="{{ message_success | strip | escape }}"
               data-message-already-subscribed="{{ message_already_subscribed | strip | escape }}"
               data-message-fail="{{ message_fail | strip | escape }}">
            </div>
          </div>        
        </form> 
      {% endif %}
    </div>
  </div>

  {% assign src = section.settings.bg_video_file_url %}
  {% if src != blank %}
    {% assign video_type = '' %}

    {% if src contains '.mp4' %}
      {% assign video_type = 'mp4' %}
    {% elsif src contains '.og' %}
      {% assign video_type = 'ogg' %}
    {% elsif src contains '.avi' %}
      {% assign video_type = 'avi' %}
    {% elsif src contains '.webm' %}
      {% assign video_type = 'webm' %}
    {% endif %}

    {% if video_type == '' %}
      <!-- ALERT: Your video is invalid -->
    {% else %}
      <div class="password-bg">
        <div class="password-bg__cover"></div>
        <video autoplay loop muted>
          <source src="{{ src }}" type="video/{{ video_type }}" />
        </video>
      </div>
    {% endif %}
  {% endif %}
</div>

{% comment %} Add a login form in case anyone *actually* needs to log in {% endcomment %}
<div id="password-login" class="password__login">
  {% form 'storefront_password' %}
    <div class="form-group">
      <input type="password"
        name="password"
        id="Password"
        class="form-control"
        autocomplete="store-password">
    </div>
    <div class="form-group">
      <button type="submit" name="commit" class="btn btn-primary btn-block">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    </div>
  {% endform %}
</div>

<script type="text/javascript">
  if(window.location.search.indexOf('password') > -1) {
    document.getElementById('password-login').style.display = 'inline-block';
  }
</script>


{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "id": "content",
        "type": "richtext",
        "label": "Content",
        "default": "<p>Check back soon to find out when we open!</p>"
      },
      {
        "type": "header",
        "content": "Mailing List Signup"
      },
      {
        "type": "text",
        "id": "subscribe_placeholder_text",
        "label": "Placeholder Text",
        "default": "Enter your email for updates"
      },
      {
        "type": "textarea",
        "id": "subscribe_success_text",
        "label": "Success Message",
        "info": "Displays when someone signs up successfully.  Leave blank for a generic message."
      },
      {
        "type": "textarea",
        "id": "subscribe_already_subscribed_text",
        "label": "Already Subscribed Message",
        "info": "Displays if someone is already signed up to the mailing list.  Leave blank for a generic message."
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "url",
        "id": "bg_video_file_url",
        "label": "Video File URL",
        "info": "Accepted file formats: mp4, ogg, avi, webm"
      }
    ]
  }
{% endschema %}
