{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% assign block = blank %}
{% for b in section.blocks %}
  {% if b.settings.product == product.handle %}
    {% assign block = b %}
    {% break %}
  {% endif %}
{% endfor %}

{% capture submit_button_contents %}
  <span data-add-to-cart-text>
    {% if current_variant.available %}
      {{ 'products.product.add_to_cart' | t }}              
    {% else %}
      {{ 'products.product.sold_out' | t }}
    {% endif %}
  </span>
  <span class="emdash"></span>
  <span data-product-price>
    {{ current_variant.price | money_without_trailing_zeros }}
  </span>
  <span class="currency">USD</span>
{% endcapture %}

<div data-section-id="{{ section.id }}" data-section-type="product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

  <form action="/cart/add" method="post" enctype="multipart/form-data" data-product-form>

    <div class="product-grids drawer-shifter">
      <div class="product-grid">
        <div class="product-grid__col">
          <div class="product-detail__child product-detail__child--gallery">
            <div class="product-detail-gallery">
              <div class="swiper-container" data-slideshow>
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                    <div class="swiper-slide">
                      <div class="gallery-image">
                        <img src="{{ image | img_url: '1600x' }}" />
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
              </div> 
            </div>            
          </div>
        </div>

        <div class="product-grid__col" style="height: auto;">
          <div class="product-detail__child product-detail__child--form">
            {% render 'product-detail-form',
                       product: product,
                       current_variant: current_variant,
                       block: block,
                       submit_button_contents: submit_button_contents
            %}
          </div>
        </div>
      </div>
    </div>

    <!-- Bare form elements, hidden for JS enabled browsers -->
    <!-- Is this where itemprop="offers" is supposed to go? -->
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      <input type="number" name="quantity" value="1" class="no-js" data-product-quantity>     
    </div>   

    <script type="application/json" data-product-json>
      {% render 'product-json', product: product %}
    </script>
  </form>
</div>

{% schema %}
  {
    "name": "Product Page",
    "settings": [],
    "blocks": [
      {
        "type": "product_info",
        "name": "Product Info",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product",
            "info": "The settings below with only display for the product selected here"
          },
          {
            "type": "header",
            "content": "Additional Info"
          },          
          {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "header",
            "content": "Additional Details",
            "info": "These details display as an expandable list"
          },
          {
            "type": "text",
            "id": "detail_title_1",
            "label": "Detail #1 Title"
          },
          {
            "type": "richtext",
            "id": "detail_content_1",
            "label": "Detail #1 Content"
          },
          {
            "type": "text",
            "id": "detail_title_2",
            "label": "Detail #2 Title"
          },
          {
            "type": "richtext",
            "id": "detail_content_2",
            "label": "Detail #2 Content"
          },
          {
            "type": "text",
            "id": "detail_title_3",
            "label": "Detail #3 Title"
          },
          {
            "type": "richtext",
            "id": "detail_content_3",
            "label": "Detail #3 Content"
          }
        ]
      }
    ]
  }
{% endschema %}
